@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('play-v19-cyrillic_latin-regular.woff2') format('woff2'),
         url('play-v19-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('play-v19-cyrillic_latin-700.woff2') format('woff2'),
         url('play-v19-cyrillic_latin-700.ttf') format('truetype');
}


@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('open-sans-v40-cyrillic_latin-regular.woff2') format('woff2'),
         url('open-sans-v40-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('open-sans-v40-cyrillic_latin-italic.woff2') format('woff2'),
         url('open-sans-v40-cyrillic_latin-italic.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('open-sans-v40-cyrillic_latin-500.woff2') format('woff2'),
         url('open-sans-v40-cyrillic_latin-500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('open-sans-v40-cyrillic_latin-600.woff2') format('woff2'),
         url('open-sans-v40-cyrillic_latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('open-sans-v40-cyrillic_latin-700.woff2') format('woff2'),
         url('open-sans-v40-cyrillic_latin-700.ttf') format('truetype');
}
