.about {
    display: grid;
    gap: 32px;
    grid-template-columns: minmax(0, 282fr) minmax(0, 866fr);
}
    .about__sidebar {

    }

    .about__content {

    }



@media (1500px <= width) {

    .about {
        gap: 52px;
        grid-template-columns: minmax(0, 332fr) minmax(0, 1014fr);
    }
        .about__sidebar {

        }

        .about__content {

        }
}


@media (width < 740px) {

    .about {
        display: block;
    }
        .about__sidebar {

        }

        .about__content {
            margin-top: 38px;
        }

}
