.areas {

}
    .areas__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 42px;
        line-height: 59px;
    }

    .areas__navigation {
        margin-top: 32px;
    }

    .areas__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .areas__article {
        margin-top: 32px;
    }

    .areas__actions {
        margin-top: 48px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }

    .areas__plan {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 924px 1fr; /* 924px -- ширина SVG */
        gap: 24px;
    }
        .areas__svg {
            vertical-align: top;
        }

        .areas__scheme {
            margin-top: 35px;
        }

    .areas__ {

    }


@media (1500px <= width) {

    .areas {

    }
        .areas__heading {
            font-size: 50px;
            line-height: 66px;
        }

        .areas__navigation {
            margin-top: 40px;
        }

        .areas__list {
            margin-top: 40px;
        }

        .areas__article {
            margin-top: 40px;
        }

        .areas__actions {
            margin-top: 60px;
            gap: 40px;
        }

        .areas__plan {
            margin-top: 40px;
        }
            .areas__svg {

            }
}




@media (width < 740px) {

    .areas {

    }
        .areas__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
            line-height: 34px;
        }

        .areas__navigation {
            margin-top: 24px;
        }

        .areas__list {
            margin-top: 24px;
            display: block;
        }

        .areas__article {
            margin-top: 24px;
        }

        .areas__actions {
            margin-top: 24px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 16px;
        }

        .areas__plan {
            margin-top: 24px;
        }
            .areas__svg {

            }
}


