.areas {

}
    .areas__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 42px;
        line-height: 59px;
    }

    .areas__navigation {
        margin-top: 32px;
    }

    .areas__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }

    .areas__article {
        margin-top: 32px;
    }

    .areas__article:first-child {
        margin-top: 0;
    }

    .areas__actions {
        margin-top: 48px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }

    .areas__plan {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 734px minmax(0, 1fr);
        gap: 48px;
    }
        .areas__svg {

        }
            .areas__svg svg {
                vertical-align: top;
                width: 100%;
                height: auto;
            }

        .areas__scheme {
            margin-top: 24px;
        }

    .areas__legend {
        margin-top: 57px;
        display: flex;
        align-items: flex-start;
        gap: 26px;
    }
        .areas__hint {
            display: flex;
            align-items: center;
            padding-left: 44px;
            min-height: 34px;
            background-size: 34px 34px;
            background-repeat: no-repeat;
            background-position: left center;
            font-family: var(--font-headings);
            font-size: 15px;
            line-height: 18px;
        }

        /* stylelint-disable */
        .areas__hint--elevator  { background-image: url("../vectors/legend-elevator.svg"); }
        .areas__hint--fire-exit { background-image: url("../vectors/legend-fire-exit.svg"); }
        .areas__hint--wardrobe  { background-image: url("../vectors/legend-wardrobe.svg"); }
        .areas__hint--info      { background-image: url("../vectors/legend-info.svg"); }
        /* stylelint-enable */


@media (1500px <= width) {

    .areas {

    }
        .areas__heading {
            font-size: 50px;
            line-height: 66px;
        }

        .areas__navigation {
            margin-top: 40px;
        }

        .areas__list {
            margin-top: 40px;
        }

        .areas__article {
            margin-top: 40px;
        }

        .areas__actions {
            margin-top: 60px;
            gap: 40px;
        }

        .areas__plan {
            margin-top: 40px;
            grid-template-columns: 874px minmax(0, 1fr);
            gap: 60px;
        }
            .areas__svg {

            }

        .areas__scheme {
            margin-top: 35px;
        }

    .areas__legend {
        gap: 40px;
    }
        .areas__hint {
            padding-left: 50px;
            min-height: 34px;
            background-size: 34px 34px;
            font-size: 16px;
            line-height: 19px;
        }
}




@media (width < 740px) {

    .areas {

    }
        .areas__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
            line-height: 34px;
        }

        .areas__navigation {
            margin-top: 24px;
        }

        .areas__list {
            margin-top: 24px;
            display: grid;
            grid-template-columns: minmax(0, 1fr);
        }

        .areas__article {
            margin-top: 24px;
        }

        .areas__actions {
            margin-top: 24px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 16px;
        }

        .areas__plan {
            margin-top: 36px;
            margin-left: calc(-1 * var(--container-padding));
            margin-right: calc(-1 * var(--container-padding));
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
        }
            .areas__svg {
                width: 530px;
            }

            .areas__scheme {
                display: none;
            }

        .areas__legend {
            margin-top: 47px;
            display: block;
        }
            .areas__hint {
                margin-top: 20px;
            }

            .areas__hint:first-child {
                margin-top: 0;
            }
}


