.article {
    display: grid;
    gap: 53px;
    grid-template-columns: 304fr 925fr;
    padding-bottom: 176px;
}
    .article__sidebar {

    }

    .article__content {

    }
        .article__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-headings);
            font-size: 32px;
            line-height: 40px;
        }

        .article__text {
            margin-top: 40px;
        }
