/* фон по умолчанию: */

.background {
    background-image: url("../images/backgrounds/default-background.svg");
    background-size: 4233px 4355px;
    background-repeat: no-repeat;
    background-position: center top;
}
    @media (1500px <= width) {
        .background {
            background-size: 5644px 5807px;
        }
    }

/* Десктопные фоны: */
@media (740px <= width) {

    .background--text {
        background-image: url("../images/backgrounds/text-background.svg");
        background-size: 4233px 5422px;
    }
        @media (1500px <= width) {
            .background--text {
                background-size: 5644px 7230px;
            }
        }

    .background--groups-item {
        background-image: url("../images/backgrounds/groups-item-background-top.svg");
        background-size: 4233px 2196px;
    }
        @media (1500px <= width) {
            .background--groups-item {
                background-size: 5644px 2928px;
            }
        }

    .background--schedule {
        background-image: url("../images/backgrounds/schedule-background-top.svg");
        background-size: 4233px 1204px;
    }
        @media (1500px <= width) {
            .background--schedule {
                background-size: 5644px 1606px;
            }
        }


    /* На лендинге фон сильно сложнее */

    /* По-идее этот медиа-запрос должен быть (width < 1500px), т.е. "<=" вместо "<",
     * но в данном случае 1500px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (width <= 1500px) {
        .background--landing {
            background-image: url("../images/backgrounds/intro/landing-background-top-1500@1x.jpg");
            background-size: 1500px 726px;
        }

        @media (min-resolution: 1.5dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-1500@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-1500@2x.jpg");
            }
        }

        .background--landing {
            background-image: image-set(
                url("../images/backgrounds/intro/landing-background-top-1500@2x.avif") type("image/avif") 2x,
                url("../images/backgrounds/intro/landing-background-top-1500@1.5x.avif") type("image/avif") 1.5x,
                url("../images/backgrounds/intro/landing-background-top-1500@1x.avif") type("image/avif") 1x
            );
        }
    }



    /* По-идее этот медиа-запрос должен быть @media (1500px <= width < 1920px), т.е. "<=" вместо "<" и наоборот,
     * но в данном случае 1500px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (1500px < width <= 1920px) {

        .background--landing {
            background-image: url("../images/backgrounds/intro/landing-background-top-1920x930@1x.jpg");
            background-size: 1920px 930px;
        }

        @media (min-resolution: 1.5dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-1920x930@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-1920x930@2x.jpg");
            }
        }

        .background--landing {
            background-image: image-set(
                url("../images/backgrounds/intro/landing-background-top-1920x930@2x.avif") type("image/avif") 2x,
                url("../images/backgrounds/intro/landing-background-top-1920x930@1.5x.avif") type("image/avif") 1.5x,
                url("../images/backgrounds/intro/landing-background-top-1920x930@1x.avif") type("image/avif") 1x
            );
        }
    }



    /* По аналогии с остальными запросами здесь было бы логично @media (1920px <= width), т.е. "<=" вместо "<",
     * но в данном случае 1920px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (1920px < width) {

        .background--landing {
            background-image: url("../images/backgrounds/intro/landing-background-top-2426x930@1x.jpg");
            background-size: 2426px 930px;
        }

        @media (min-resolution: 1.5dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-2426x930@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .background--landing {
                background-image: url("../images/backgrounds/intro/landing-background-top-2426x930@2x.jpg");
            }
        }

        .background--landing {
            background-image: image-set(
                url("../images/backgrounds/intro/landing-background-top-2426x930@2x.avif") type("image/avif") 2x,
                url("../images/backgrounds/intro/landing-background-top-2426x930@1.5x.avif") type("image/avif") 1.5x,
                url("../images/backgrounds/intro/landing-background-top-2426x930@1x.avif") type("image/avif") 1x
            );
        }
    }
}





/*
    Мобильный нижний фон всегда одинаковый
 */

@media (width < 740px) {

    {
        background-image: url("../images/backgrounds/background-smartphone.svg");
        background-size: 838px 2165px;
    }
}
