body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #14131E;
    background-image: url("../images/background.svg");
    background-size: 5644px 5807px;
    background-repeat: no-repeat;
    background-position: center top;
    color-scheme: dark;
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: #FFFFFF;
}

@media (width < 740px) {
    body {
        background-image: url("../images/background-smartphone.svg");
        background-size: 838px 2165px;
    }
}



.burger-expanded {

}

@media (width < 740px) {
    .burger-expanded body {
        background-color: #FFFFFF;
        background-image: none;
        color: #000000;
        transition: background-color var(--transition-show);
    }
}


.landing-background {
    background-color: #15141E;
    background-image: url("../images/intro/intro-desktop-background-illustration-1500@1x.jpg");
    background-size: 1500px 726px;
    background-repeat: no-repeat;
    background-position: center top;
}
