body {
    height: 100%;
    background-color: #14131E;
    color-scheme: dark;
    background-image: url("../images/backgrounds/default-background.svg");
    background-size: 5644px 5807px;
    background-repeat: no-repeat;
    background-position: center top;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: #FFFFFF;
}


/*
    Мобильный фон на всех страницах одинаковый.
    Десктопные фоны смотри в классах типа .default-background, .text-background и т.д.
*/

@media (width < 740px) {
    body {
        background-image: url("../images/backgrounds/background-smartphone.svg");
        background-size: 838px 2165px;
    }
}



.burger-expanded {

}

@media (width < 740px) {
    .burger-expanded body {
        background-color: #FFFFFF;
        background-image: none;
        color: #000000;
        transition: background-color var(--transition-show);
    }
}


