.breadcrumbs {
    padding-top: 54px;
    padding-bottom: 54px;
    font-family: var(--font-headings);
    font-size: 16px;
    line-height: 24px;
}
    .breadcrumbs__item {
        margin-left: 4px;
    }
        .breadcrumbs__item::before {
            content: "/";
            margin-right: 4px;
        }

        .breadcrumbs__item:first-child::before {
            display: none;
        }

        .breadcrumbs__link {

        }

        .breadcrumbs__title {
            color: #8E8FFA;
        }
