.breadcrumbs {
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--font-headings);
    font-size: 15px;
    line-height: 22px;
}
    .breadcrumbs__item {
        margin-left: 4px;
    }
        .breadcrumbs__item::before {
            content: "/";
            margin-right: 4px;
        }

        .breadcrumbs__item:first-child::before {
            display: none;
        }

        .breadcrumbs__link {

        }

        .breadcrumbs__title {
            color: #8E8FFA;
        }



@media (1500px <= width) {
    .breadcrumbs {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
    }
}
