.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    vertical-align: top;
    border: none;
    padding: 14px 20px 14px 16px;
    min-width: 80px;
    background-color: transparent;
    border-radius: 6px;
    font-family: var(--font-headings);
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover),
                color var(--transition-hover);
}
    .button #polygon__path {
        transition: fill var(--transition-hover),
                    stroke var(--transition-hover);
    }

    .button__label {
        position: relative; /* Выше .polygon__border */
    }

    .button__icon {
        position: relative;
        width: auto;
        height: 14px;
        fill: currentColor;
    }


.button:hover {

}
    .button:hover #polygon__path {

    }


.button:active {
    transition: none;
}
    .button:active #polygon__path {
        transition: none;
    }

.button:disabled {
    cursor: default;
}




.button--primary {
    background-image: linear-gradient(261deg, #190482 20.75%, #8E8FFA 84.56%);
    color: #FFFFFF;
}

.button--primary:hover {
    background-image: none;
    background-color: #190482;
    color: #FFFFFF;
}

.button--primary:active {
    background-image: none;
    background-color: #8E8FFA;
    color: #FFFFFF;
}

.button--primary:disabled,
.button--primary:disabled:hover,
.button--primary:disabled:active {
    background-image: none;
    background-color: #D9D9D9;
    color: #8E8E8E;
}



.button--secondary {
    background-color: #FFFFFF;
    color: #190482;
}

.button--secondary:hover {
    background-color: #190482;
    color: #FFFFFF;
}

.button--secondary:active {
    background-color: #8E8FFA;
    color: #FFFFFF;
}

.button--secondary:disabled,
.button--secondary:disabled:hover,
.button--secondary:disabled:active {
    background-color: #D9D9D9;
    color: #8E8E8E;
}






.button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #FFFFFF;
    color: #FFFFFF;
}

.button--outline:hover {
    background-color: #190482;
    box-shadow: none;
    color: #FFFFFF;
}

.button--outline:active {
    background-color: #8E8FFA;
    box-shadow: none;
    color: #FFFFFF;
}

.button--outline:disabled,
.button--outline:disabled:hover,
.button--outline:disabled:active {
    background-color: #D9D9D9;
    box-shadow: none;
    color: #8E8E8E;
}


.button--outline.polygon--applied {
    box-shadow: none;
}

.button--outline #polygon__path {
    stroke: #FFFFFF; /* Аналогично box-shadow */
    transition: stroke var(--transition-hover);
}

.button--outline:hover #polygon__path {
    stroke: transparent; /* Аналогично box-shadow */
}

.button--outline:active #polygon__path {
    stroke: transparent; /* Аналогично box-shadow */
    transition: none;
}

.button--outline:disabled #polygon__path,
.button--outline:disabled:hover #polygon__path,
.button--outline:disabled:active #polygon__path {
    stroke: transparent; /* Аналогично box-shadow */
}


.button--link-alike {
    color: #FFFFFF;
}

.button--link-alike:hover {
    color: #8E8FFA;
}

.button--link-alike:active {
    color: #190482;
}

.button--link-alike:disabled,
.button--link-alike:disabled:hover,
.button--link-alike:disabled:active {
    color: #8E8E8E;
}
    .button--link-alike #polygon__path {
        fill: none;
        stroke: none;
    }




@media (1500px <= width) {

    .button {
        gap: 16px;
        padding: 15px 24px 15px 16px;
        min-width: 100px;
        border-radius: 8px;
        font-size: 20px;
        line-height: 24px;
    }
        .button__icon {
            height: 16px;
        }
}


@media (width < 740px) {

    .button {
        gap: 8px;
        padding: 13px 18px 13px 14px;
        min-width: 60px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 20px;
    }
        .button__icon {
            height: 14px;
        }
}
