/* Пишем в Laptop first */
.container {
    box-sizing: content-box;
    width: 1180px;
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    margin-left: auto;
    margin-right: auto;
}


/* Мониторы*/
@media (1500px <= width) {

    .container {
        width: 1400px;
    }
}


/* Планшеты */
@media (740px <= width < 1260px) {

    /* Отображаем точно такую же версию как на ноутбуках.
     * Контейнер, соответственно, тоже 1180px.
     *
     * Расчёт на то, что на планшетах появится горизонтальный
     * скроллбар, который превратится в зум. Скроллбар достигается
     * за счёт того, что на теге <html>, на этом же диапазоне стоит
     * width: 1260px (заведомо большая ширин). Смотри /styles/_html.css
     *
     * Почему эта width проставлена на теге <html>, а не здесь в .container?
     * Чем выше -- тем лучше. Например потому, что фон на теге <body>
     * так же как и .container должен быть внутри этой фиксированной width.
     * Весь сайт должен быть внутри width чтобы быть внутри зума.
     */
    .container {

    }
}


/* Смартфоны */
@media (width < 740px) {

    .container {
        width: auto;
        max-width: 400px;
    }
}
