.day {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 1px #FFFFFF;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color var(--transition-hover),
                box-shadow var(--transition-hover);
}

.day:hover {
    background-color: rgb(142 143 250 / 30%);
}

.day--selected,
.day--selected:hover,
.day--selected:active {
    background-color: #8E8FFA;
    box-shadow: 0 0 0 1px #8E8FFA;
}

.day.polygon--applied {
    box-shadow: none;
}

.day.polygon--applied #polygon__path {
    stroke: #FFFFFF;
    transition: stroke var(--transition-hover);
}

.day--selected.polygon--applied #polygon__path {
    stroke: #8E8FFA;
}



@media (1500px<= width) {

    .day {
        /*position: relative;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
        padding: 20px 11px;
        /*background-color: transparent;*/
        /*border: none;*/
        /*box-shadow: 0 0 0 1px #FFFFFF;*/
        border-radius: 8px;
        /*font-family: inherit;*/
        /*font-weight: 600;*/
        font-size: 18px;
        line-height: 22px;
        /*text-align: left;*/
        /*white-space: nowrap;*/
        /*cursor: pointer;*/
        /*transition: background-color var(--transition-hover),*/
        /*            box-shadow var(--transition-hover);*/
    }

    .day:hover {
        /*background-color: rgb(142 143 250 / 30%);*/
    }

    .day--selected,
    .day--selected:hover,
    .day--selected:active {
        /*background-color: #8E8FFA;*/
        /*box-shadow: 0 0 0 1px #8E8FFA;*/
    }

    .day.polygon--applied {
        /*box-shadow: none;*/
    }

    .day.polygon--applied #polygon__path {
        /*stroke: #FFFFFF;*/
        /*transition: stroke var(--transition-hover);*/
    }

    .day--selected.polygon--applied #polygon__path {
        /*stroke: #8E8FFA;*/
    }
}
