.default {
    display: grid;
    gap: 32px;
    grid-template-columns: 282fr 866fr;
}
    .default__sidebar {

    }

    .default__content {

    }



@media (1500px <= width) {

    .default {
        gap: 52px;
        grid-template-columns: 332fr 1014fr;
    }
        .default__sidebar {

        }

        .default__content {

        }
}


@media (width < 740px) {

    .default {
        display: block;
    }
        .default__sidebar {

        }

        .default__content {
            margin-top: 38px;
        }

}
