.default {
    display: grid;
    gap: 53px;
    grid-template-columns: 304fr 925fr;
    padding-bottom: 176px;
}
    .default__sidebar {

    }

    .default__content {

    }



@media (width < 1500px) {

    .default {
        gap: 32px;
        /*grid-template-columns: 304fr 925fr;*/
        padding-bottom: 140px;
    }
        .default__sidebar {

        }

        .default__content {

        }
}

@media (width < 740px) {

    .default {
        display: block;
        /*gap: 53px;*/
        /*grid-template-columns: 304fr 925fr;*/
        padding-bottom: 140px;
    }
        .default__sidebar {

        }

        .default__content {
            margin-top: 38px;
        }

}
