.eng {
    display: inline-block;
    vertical-align: top;
    padding: 4px 4px 6px;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: underline 2px #8E8FFA;
    text-underline-offset: 8px;
    transition: text-decoration-color var(--transition-hover);
}

.eng:hover {
    text-decoration-color: transparent;
}
