.filter {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .filter__handler {
        display: block;
        vertical-align: top;
        padding: 15px 37px 15px 15px;
        border: none;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px currentColor;
        border-radius: 6px;
        font-family: inherit;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: inherit;
        text-align: left;
        cursor: pointer;
        transition: background-color var(--transition-hover);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .filter__handler:hover {
        background-color: rgb(142 143 250 / 30%);
    }
        .filter__handler br {
            display: none;
        }

        .filter__handler::after {
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;
            flex-shrink: 0;
            display: block;
            margin-top: 6px;
            border-top: 10px solid currentColor;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            transition: transform var(--transition-dropdown);
        }

    .filter__dropdown {
        position: absolute;
        z-index: 500;
        left: 0;
        min-width: 100%;
        margin-top: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: rgb(142 143 250 / 80%);
        border: 2px solid #8E8FFA;
        border-radius: 6px;
        backdrop-filter: blur(20px);
        transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
        opacity: 0;
        visibility: hidden;
        /* Конфликтует с blur: */
        transition: opacity var(--transition-dropdown),
                    visibility var(--transition-dropdown);
    }
        .filter__option {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            border: none;
            padding: 7px 13px;
            background-color: transparent;
            font-family: var(--font-headings);
            font-size: 18px;
            line-height: 20px;
            text-align: left;
            color: #FFFFFF;
            white-space: nowrap;
            cursor: pointer;
        }

        .filter__option:hover {
            background-color: #8E8FFA;
        }

        .filter__option--selected {
            background-color: #8E8FFA;
        }


.filter--expanded {

}
    .filter--expanded .filter__dropdown {
        opacity: 100%;
        visibility: visible;
    }

    .filter--expanded .filter__handler::after {
        transform: scaleY(-1);
    }



.filter--selected .filter__handler {
    background-color: #8E8FFA;
    box-shadow: 0 0 0 1px #8E8FFA;
    color: #FFFFFF; /* Алсо заполнит fill в иконке */
}


@media (1500px <= width) {

    .filter {
        /*position: relative;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }
        .filter__handler {
            /*display: inline-flex;*/
            /*align-items: flex-start;*/
            /*gap: 10px;*/
            /*vertical-align: top;*/
            /*width: 100%;*/
            padding: 20px 40px 20px 19px;
            /*background-color: transparent;*/
            /*border: 1px solid #FFFFFF;*/
            border-radius: 8px;
            /*font-family: inherit;*/
            /*font-weight: 600;*/
            font-size: 20px;
            line-height: 22px;
            /*text-align: left;*/
            /*white-space: nowrap;*/
            /*cursor: pointer;*/
        }
            .filter__handler br {
                /*display: none;*/
            }

            .filter__handler::after {
                /*content: "";*/
                /*display: block;*/
                /*margin-top: 6px;*/
                top: 21px;
                border-top-width: 12px;
                border-left-width: 7px;
                border-right-width: 7px;
                /*transition: transform var(--transition-dropdown);*/
            }

        .filter__dropdown {
            margin-top: 26px;
            padding-top: 9px;
            padding-bottom: 9px;
            border-radius: 8px;
            /*opacity: 0;*/
            /*visibility: hidden;*/
            /*transition: opacity var(--transition-dropdown),*/
            /*            visibility var(--transition-dropdown);*/
        }
            .filter__option {
                /*display: inline-block;*/
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*border: none;*/
                padding: 8px 17px;
                /*background-color: transparent;*/
                /*font-family: inherit;*/
                font-size: 20px;
                line-height: 23px;
                /*text-align: left;*/
                /*white-space: nowrap;*/
                /*cursor: pointer;*/
            }
}



@media (width < 740px) {

    .filter {
        /*position: relative;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }
        .filter__handler {
            /*display: block;*/
            /*vertical-align: top;*/
            /*padding: 15px 37px 15px 15px;*/
            /*border: none;*/
            /*background-color: transparent;*/
            /*box-shadow: inset 0 0 0 1px #FFFFFF;*/
            /*border-radius: 6px;*/
            /*font-family: inherit;*/
            /*font-weight: 600;*/
            /*font-size: 18px;*/
            /*line-height: 20px;*/
            /*text-align: left;*/
            /*cursor: pointer;*/
            /*transition: background-color var(--transition-hover);*/
            /*white-space: nowrap;*/
            /*overflow: hidden;*/
            /*text-overflow: ellipsis;*/
        }


        .filter__handler:hover {
            /*background-color: rgb(142 143 250 / 30%);*/
        }
            .filter__handler br {
                /*display: none;*/
            }

            .filter__handler::after {
                /*content: "";*/
                /*position: absolute;*/
                /*right: 15px;*/
                /*top: 15px;*/
                /*flex-shrink: 0;*/
                /*display: block;*/
                /*margin-top: 6px;*/
                /*border-top: 10px solid #FFFFFF;*/
                /*border-left: 6px solid transparent;*/
                /*border-right: 6px solid transparent;*/
                /*transition: transform var(--transition-dropdown);*/
            }

        .filter__dropdown {
            position: static;
            /*left: 0;*/
            /*min-width: 100%;*/
            /*padding-top: 20px;*/
            opacity: 100%;
            visibility: visible;
            display: none;
        }
            .filter__option {
                /*display: inline-block;*/
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*border: none;*/
                /*padding: 7px 13px;*/
                /*background-color: transparent;*/
                /*font-family: var(--font-headings);*/
                /*font-size: 18px;*/
                /*line-height: 20px;*/
                /*text-align: left;*/
                /*white-space: nowrap;*/
                /*cursor: pointer;*/
            }

            .filter__option:hover {
                /*background-color: #8E8FFA;*/
            }

            .filter__option--selected {
                /*background-color: #8E8FFA;*/
            }


    .filter--expanded {

    }
        .filter--expanded .filter__dropdown {
            display: block;
        }

        .filter--expanded .filter__handler::after {
            /*transform: scaleY(-1);*/
        }
}

