.filters-panel {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
    .filters-panel__primary {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .filters-panel__secondary {
        flex-grow: 1;
    }



@media (1500px <= width) {

    .filters-panel {
        /*display: flex;*/
        /*align-items: flex-start;*/
        gap: 32px;
    }
        .filters-panel__primary {
            /*flex-shrink: 0;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
            gap: 32px;
        }

        .date-picker__panel {
            /*flex-grow: 1;*/
            /*display: flex;*/
            /*align-items: flex-start;*/
        }
}



@media (width < 740px) {

    .filters-panel {
        display: block;
        /*align-items: flex-start;*/
        /*gap: 24px;*/
    }
        .filters-panel__primary {
            /*flex-shrink: 0;*/
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 16px;
        }
            .filters-panel__primary .filter__handler {
                width: 100%;
                max-width: none !important;
            }
}



