@media (740px <= width) {

    .groups-item-background-bottom {
        background-image: url("../images/backgrounds/groups-item-background-bottom.svg");
        background-size: 5644px 2600px;
        background-repeat: no-repeat;
        background-position: center top;

        /* чтобы margin-top у .realted внутри упёрся сюда */
        padding-top: 1px;

        /* Отступ перед подвалом включаем сюда в фон (включая скругление подвала) */
        padding-bottom: calc(var(--footer-margin) + var(--footer-radius));
        margin-bottom: calc(-1 * var(--footer-radius));
    }

    /* Отменяем маргин у подвала */
    .groups-item-background-bottom ~ .footer {
        margin-top: 0;
    }
}
