.header {

}
    .header__bar {

    }
        .header__logo {

        }
            .header__emblem {

            }

        .header__burger {

        }

        .header__dropdown {

        }
            .header__navigation {

            }

            .header__data {

            }
                .header__info {

                }
                    .header__day-phases {

                    }

                    .header__moon-phases {

                    }

                .header__languages {

                }



@media (740px <= width) {

    .header {

    }
        .header__bar {
            display: flex;
            align-items: flex-start;
            padding-top: 26px;
            padding-bottom: 26px;
        }
            .header__logo {
                display: inline-block;
                vertical-align: top;
            }
                .header__emblem {
                    flex-shrink: 0;
                    width: 240px;
                    height: 82px;
                }

            .header__burger {
                display: none;
            }

            .header__dropdown {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
                .header__navigation {

                }

                .header__data {
                    order: -1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                    .header__info {
                        display: flex;
                        align-items: center;
                    }
                        .header__day-phases {

                        }

                        .header__moon-phases {
                            margin-left: 18px;
                        }

                    .header__languages {
                        margin-left: 20px;
                        margin-right: -4px;
                    }
}



@media (1500px <= width) {

    .header {

    }
        .header__bar {
            /*display: flex;*/
            /*align-items: flex-start;*/
            padding-top: 36px;
            padding-bottom: 36px;
        }
            .header__logo {

            }
                .header__emblem {
                    /*flex-shrink: 0;*/
                    margin-top: 15px;
                    width: 252px;
                    height: 86px;
                }

            .header__dropdown {
                /*flex-grow: 1;*/
                /*display: flex;*/
                /*flex-direction: column;*/
            }
                .header__navigation {

                }

                .header__data {
                    /*order: -1;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: flex-end;*/
                }
                    .header__info {
                        /*display: flex;*/
                        /*align-items: center;*/
                    }
                        .header__day-phases {

                        }

                        .header__moon-phases {
                            margin-left: 36px;
                        }

                    .header__languages {
                        margin-left: 40px;
                        /*margin-right: -4px;*/
                    }
}
