html {
    height: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable; /* Резервируем ~15px пустого пространства под скроллбаром, когда активен попап. Современный вариант. */
    margin: 0 !important; /* Отменяем подобный фикс, который делает Magnific Popup более старым вариантом. Современный scrollbar-gutter лучше, потому что не конфликтует с position: fixed элементами типа шапки. */
    color-scheme: dark;
}


/* Это диапазон ширин для планшетов. Здесь показываем точно такую же версию сайта
   как на ноутбуках с расчётом на зум. Задаём ширину документа заведомо большую,
   чем размер экрана, чтобы браузеры включили горизонтальный скроллбар.
   На планшетах это, по-сути, зум и есть.
*/
@media (740px <= width < 1260px) {

    html {
        width: 1260px;
    }
}
