.http-error {
    padding-top: 60px;
}
    .http-error__screen {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 60px 80px;
        box-shadow: inset 0 0 0 2px #9698FB;
        background-color: rgb(142 143 250 / 45%);
        backdrop-filter: blur(10px);
        transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
        backface-visibility: hidden; /* улучшаем производительность */
        border-radius: 8px;
        overflow: hidden;
    }
        .http-error__left-trapezoid {
            position: absolute;
            left: 0;
            top: 131px;
            width: 0;
            height: 174px;
            border: 9px solid transparent;
            border-left-color: #9498FA;
            pointer-events: none;
        }

        .http-error__top-trapezoid {
            position: absolute;
            left: 93px;
            top: 0;
            width: 315px;
            height: 0;
            border: 9px solid transparent;
            border-left-width: 21px;
            border-right-width: 21px;
            border-top-color: #A7B3FB;
            pointer-events: none;
        }

        .http-error__bottom-trapezoid {
            position: absolute;
            right: 109px;
            bottom: 0;
            width: 310px;
            height: 0;
            border: 6px solid transparent;
            border-left-width: 14px;
            border-right-width: 14px;
            border-bottom-color: #9AA0FB;
            pointer-events: none;
        }

        .http-error__left-angle {
            position: absolute;
            left: 0;
            bottom: 0;
            border: 14px solid transparent;
            border-bottom-color: #8E8FFA;
            border-left-color: #8E8FFA;
            pointer-events: none;
        }

        .http-error__right-angle {
            position: absolute;
            right: 0;
            top: 0;
            border: 14px solid transparent;
            border-top-color: #BCD2FE;
            border-right-color: #BCD2FE;
            pointer-events: none;
        }

        .http-error__code {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-headings);
            font-weight: bold;
            font-size: 135px;
            line-height: 135px;
        }

        .http-error__note {
            margin-top: 4px;
            font-family: var(--font-headings);
            font-size: 32px;
            line-height: 38px;
            text-transform: lowercase;
        }

        .http-error__description {
            margin-top: 23px;
            max-width: 700px;
            font-size: 18px;
            line-height: 24px;
        }

        .http-error__back {
            margin-top: 38px;
        }
            .http-error__back .button:not(:hover) {
                color: #4B4A82;
            }



@media (1500px <= width) {

    .http-error {

    }
        .http-error__screen {
            padding: 80px 80px 100px;
            border-radius: 10px;
        }
            .http-error__left-trapezoid {
                top: 175px;
                height: 232px;
                border-width: 12px;
            }

            .http-error__top-trapezoid {
                left: 124px;
                width: 421px;
                border-width: 12px;
                border-left-width: 28px;
                border-right-width: 28px;
            }

            .http-error__bottom-trapezoid {
                right: 146px;
                width: 414px;
                border-width: 8px;
                border-left-width: 19px;
                border-right-width: 19px;
            }

            .http-error__left-angle {
                border-width: 18px;
            }

            .http-error__right-angle {
                border-width: 18px;
            }

            .http-error__code {
                font-size: 150px;
                line-height: 150px;
            }

            .http-error__note {
                margin-top: 4px;
                font-size: 40px;
                line-height: 44px;
            }

            .http-error__description {
                margin-top: 32px;
                max-width: 780px;
                font-size: 20px;
                line-height: 25px;
            }

            .http-error__back {
                margin-top: 47px;
            }
}



@media (width < 740px) {

    .http-error {
    }
        .http-error__screen {
            padding: 46px 18px 69px;
        }
            .http-error__left-trapezoid {
                display: none;
            }

            .http-error__top-trapezoid {
                left: 41px;
                width: 137px;
                border-width: 8px;
            }

            .http-error__bottom-trapezoid {
                right: 23px;
                width: 137px;
                border-width: 8px;
            }

            .http-error__left-angle {
                border-width: 22px;
            }

            .http-error__right-angle {
                border-width: 22px;
            }


            .http-error__code {
                font-size: 90px;
                line-height: 90px;
                text-align: center;
            }

            .http-error__note {
                margin-top: 5px;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }

            .http-error__description {
                margin-top: 20px;
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                text-wrap: balance;
            }

            .http-error__back {
                margin-top: 28px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
}

