.info {

}
    .info__image {
        width: 100%;
        height: auto;
        vertical-align: top;
        background-color: var(--image-fallback);
        border-radius: 9px;
        transition: filter var(--transition-hover);
        pointer-events: none; /* Свайпы в hammer.js не срабатывают на картинках -- свайпаем сквозь */
    }

    .info:hover .info__image {
        filter: brightness(1.1) contrast(1.1);
    }


@media (1500px <= width) {

    .info {

    }
        .info__image {
            border-radius: 12px;
        }
}


@media (width < 740px) {

    .info {

    }
        .info__image {

        }
}
