.inner-alert {
    display: flex;
    flex-direction: column;
}
    .inner-alert__heading {
        order: -1;
        font-family: var(--font-headings);
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .inner-alert::before {
        content: "";
        display: block;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 75px;
        height: 75px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .inner-alert--success::before {
        background-image: url("../vectors/inner-alert-check.svg");
    }

    .inner-alert--danger::before {
        background-image: url("../vectors/inner-alert-cross.svg");
    }

    .inner-alert__description {
        margin-top: 24px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .inner-alert__action {
        margin-top: auto;
        padding-top: 30px;
        align-self: center;
    }


.inner-alert--in-popup {
    padding: 98px 60px;
}
    .inner-alert--in-popup .inner-alert__heading {
        font-size: 30px;
        line-height: 34px;
    }

    .inner-alert--in-popup .inner-alert::before {
        margin-top: 48px;
        width: 112px;
        height: 112px;
    }

    .inner-alert--in-popup .inner-alert__description {
        max-width: none;
        margin-top: 48px;
        font-size: 20px;
        line-height: 24px;
    }

    .inner-alert--in-popup .inner-alert__action {
        padding-top: 60px;
    }


@media (1500px <= width) {

    .inner-alert {

    }
        .inner-alert__heading {
            font-size: 30px;
            line-height: 34px;
        }

        .inner-alert::before {
            margin-top: 50px;
            width: 100px;
            height: 100px;
        }

        .inner-alert__description {
            margin-top: 32px;
            max-width: 400px;
            font-size: 20px;
            line-height: 24px;
        }

        .inner-alert__action {
            padding-top: 40px;
        }

    .inner-alert--in-popup {
        padding: 130px 80px;
    }
        .inner-alert--in-popup .inner-alert__heading {
            font-size: 40px;
            line-height: 46px;
        }

        .inner-alert--in-popup .inner-alert::before {
            margin-top: 65px;
            width: 150px;
            height: 150px;
        }

        .inner-alert--in-popup .inner-alert__description {
            margin-top: 65px;
            font-size: 24px;
            line-height: 29px;
        }

        .inner-alert--in-popup .inner-alert__action {
            padding-top: 80px;
        }
}



@media (width < 740px) {

    .inner-alert {

    }

        .inner-alert__heading {

        }

        .inner-alert::before {
            width: 60px;
            height: 60px;
        }

        .inner-alert__description {
            margin-top: 40px;
            font-size: 18px;
            line-height: 22px;
        }

        .inner-alert__action {

        }

    .inner-alert--in-popup {

    }
        .inner-alert--in-popup .inner-alert__heading {

        }

        .inner-alert--in-popup .inner-alert::before {

        }
}

