.intro {
    padding-bottom: 96px;
    margin-bottom: -21px; /* Уголки .schedule */
    background-image: url("../vectors/intro-desktop-background-gas.svg");
    background-size: 2120px 1194px;
    background-repeat: no-repeat;
    background-position: center top;
}
    .intro__gallery {

    }

    .intro__footer {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 29% minmax(0, 1fr);
        align-items: center;
        gap: 32px;
    }
        .intro__label {
            padding-right: 35%;
            font-family: var(--font-headings);
            font-size: 20px;
            line-height: 24px;
        }

        .intro__actions {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 32px;
        }


@media (1500px <= width) {

    .intro {
        background-size: 2826px 1592px;
        background-position: calc(50% + 100px) -100px;
        padding-bottom: 130px;
        margin-bottom: -30px; /* Уголки .schedule */
    }
        .intro__gallery {

        }

        .intro__footer {
            margin-top: 70px;
            /*display: grid;*/
            /*grid-template-columns: 29% 1fr;*/
            /*align-items: center;*/
            gap: 40px;
        }
            .intro__label {
                /*padding-right: 35%;*/
                /*font-family: var(--font-headings);*/
                font-size: 24px;
                line-height: 29px;
            }

            .intro__actions {
                /*display: grid;*/
                /*grid-template-columns: repeat(2, 1fr);*/
                gap: 40px;
            }
}



@media (width < 740px) {

    .intro {
        padding-bottom: 55px;
    }
        .intro__gallery {

        }

        .intro__footer {
            margin-top: 40px;
            display: block;
        }
            .intro__label {
                padding-right: 0;
                /*font-family: var(--font-headings);*/
                /*font-size: 20px;*/
                /*line-height: 24px;*/
            }

            .intro__actions {
                display: grid;
                margin-top: 30px;
                grid-template-columns: minmax(0, 1fr);
                gap: 40px;
            }
    }

