.intro {
    padding-bottom: 75px;
}
    .intro__gallery {

    }

    .intro__footer {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 29% 1fr;
        align-items: center;
        gap: 32px;
    }
        .intro__label {
            padding-right: 35%;
            font-family: var(--font-headings);
            font-size: 20px;
            line-height: 24px;
        }

        .intro__actions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }


@media (1500px <= width) {

    .intro {
        padding-bottom: 100px;
    }
        .intro__gallery {

        }

        .intro__footer {
            margin-top: 70px;
            /*display: grid;*/
            /*grid-template-columns: 29% 1fr;*/
            /*align-items: center;*/
            gap: 40px;
        }
            .intro__label {
                /*padding-right: 35%;*/
                /*font-family: var(--font-headings);*/
                font-size: 24px;
                line-height: 29px;
            }

            .intro__actions {
                /*display: grid;*/
                /*grid-template-columns: repeat(2, 1fr);*/
                gap: 40px;
            }
}



@media (width < 740px) {

    .intro {
        padding-bottom: 55px;
    }
        .intro__gallery {

        }

        .intro__footer {
            margin-top: 40px;
            display: block;
        }
            .intro__label {
                padding-right: 0;
                /*font-family: var(--font-headings);*/
                /*font-size: 20px;*/
                /*line-height: 24px;*/
            }

            .intro__actions {
                display: grid;
                margin-top: 30px;
                grid-template-columns: 1fr;
                gap: 40px;
            }
    }

