.label {
    display: block; /* In case it is being followed by button or smaller input. We want it to be on a new line. */
    width: fit-content; /* Specify clickable area */
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


@media (1500px <= width) {

    .label {
        padding-bottom: 6px;
        font-size: 18px;
        line-height: 26px;
    }
}

