/*Эта картинка применяется только на десктопах, т.е. весь файл написан внутри (740px <= width) */

@media (740px <= width) {

    .landing-background {
        background-color: #15141E;
        background-repeat: no-repeat;
        background-position: center top;
    }


    /* По-идее этот медиа-запрос должен быть (width < 1500px), т.е. "<=" вместо "<",
     * но в данном случае 1500px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (width <= 1500px) {
        .landing-background {
            background-image: url("../images/intro/intro-desktop-background-illustration-1500@1x.jpg");
            background-size: 1500px 726px;
        }

        @media (min-resolution: 1.5dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-1500@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-1500@2x.jpg");
            }
        }

        .landing-background {
            background-image: image-set(
                url("../images/intro/intro-desktop-background-illustration-1500@2x.avif") type("image/avif") 2x,
                url("../images/intro/intro-desktop-background-illustration-1500@1.5x.avif") type("image/avif") 1.5x,
                url("../images/intro/intro-desktop-background-illustration-1500@1x.avif") type("image/avif") 1x
            );
        }
    }



    /* По-идее этот медиа-запрос должен быть @media (1500px <= width < 1920px), т.е. "<=" вместо "<" и наоборот,
     * но в данном случае 1500px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (1500px < width <= 1920px) {

        .landing-background {
            background-image: url("../images/intro/intro-desktop-background-illustration-1920x930@1x.jpg");
            background-size: 1920px 930px;
        }

        @media (min-resolution: 1.5dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-1920x930@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-1920x930@2x.jpg");
            }
        }

        .landing-background {
            background-image: image-set(
                url("../images/intro/intro-desktop-background-illustration-1920x930@2x.avif") type("image/avif") 2x,
                url("../images/intro/intro-desktop-background-illustration-1920x930@1.5x.avif") type("image/avif") 1.5x,
                url("../images/intro/intro-desktop-background-illustration-1920x930@1x.avif") type("image/avif") 1x
            );
        }
    }



    /* По аналогии с остальными запросами здесь было бы логично @media (1920px <= width), т.е. "<=" вместо "<",
     * но в данном случае 1920px включаем в диапазон, потому что сама картинка 1500px.
     */
    @media (1920px < width) {

        .landing-background {
            background-image: url("../images/intro/intro-desktop-background-illustration-2426x930@1x.jpg");
            background-size: 2426px 930px;
        }

        @media (min-resolution: 1.5dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-2426x930@1.5x.jpg");
            }
        }

        @media (min-resolution: 2dppx) {
            .landing-background {
                background-image: url("../images/intro/intro-desktop-background-illustration-2426x930@2x.jpg");
            }
        }

        .landing-background {
            background-image: image-set(
                url("../images/intro/intro-desktop-background-illustration-2426x930@2x.avif") type("image/avif") 2x,
                url("../images/intro/intro-desktop-background-illustration-2426x930@1.5x.avif") type("image/avif") 1.5x,
                url("../images/intro/intro-desktop-background-illustration-2426x930@1x.avif") type("image/avif") 1x
            );
        }
    }
}

