.legend {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
    .legend__item {
        display: flex;
        align-items: center;
        padding-left: 50px;
        min-height: 40px;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: left center;
        font-family: var(--font-headings);
        font-size: 16px;
        line-height: 19px;
    }

    /* stylelint-disable */
    .legend__item--elevator  { background-image: url("../vectors/legend-elevator.svg"); }
    .legend__item--fire-exit { background-image: url("../vectors/legend-fire-exit.svg"); }
    .legend__item--wardrobe  { background-image: url("../vectors/legend-wardrobe.svg"); }
    .legend__item--info      { background-image: url("../vectors/legend-info.svg"); }
    /* stylelint-enable */
