.membership {
    position: relative;
    min-height: 100%;
    padding: 24px 24px 20px;
}
    .membership__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-wrap: balance;
    }

    .membership__text {
        margin-top: 22px;
        font-size: 16px;
        line-height: 20px;
    }

    .membership__list {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .membership__total {
        position: absolute;
        left: 24px;
        top: 100%;
        margin-top: 16px;
    }



@media (1500px <= width) {

    .membership {
        /*position: relative;*/
        /*padding: 24px 24px 20px;*/
    }
        .membership__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-family: var(--font-headings);*/
            /*font-weight: bold;*/
            font-size: 28px;
            line-height: 34px;
            /*text-wrap: balance;*/
        }

        .membership__text {
            margin-top: 24px;
            font-size: 18px;
            line-height: 22px;
        }

        .membership__list {
            margin-top: 26px;
            /*margin-bottom: 0;*/
        }

        .membership__total {
            /*position: absolute;*/
            /*left: 24px;*/
            /*top: 100%;*/
            margin-top: 14px;
        }
}

