.news {

}
    .news__filters {

    }

    .news__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .news__pagination {
        margin-top: 48px;
    }



@media (1500px <= width) {

    .news {

    }
        .news__filters {

        }

        .news__list {
            margin-top: 40px;
            /*display: grid;*/
            /*grid-template-columns: 1fr 1fr;*/
            /*gap: 24px;*/
        }

        .news__pagination {
            margin-top: 60px;
        }
}



@media (width < 740px) {

    .news {

    }
        .news__filters {

        }

        .news__list {
            margin-top: 24px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .news__pagination {
            margin-top: 32px;
        }
}
