.news {

}
    .news__filters {

    }

    .news__body {
        margin-top: 32px;
    }
        .news__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }

        .news__pagination {
            margin-top: 48px;
        }

        .news__article {

        }



@media (1500px <= width) {

    .news {

    }
        .news__filters {

        }

        .news__body {
            margin-top: 40px;
        }
            .news__list {
                /*display: grid;*/
                /*grid-template-columns: 1fr 1fr;*/
                /*gap: 24px;*/
            }

        .news__pagination {
            margin-top: 60px;
        }

        .news__article {

        }
}



@media (width < 740px) {

    .news {

    }
        .news__filters {

        }

        .news__body {
            margin-top: 24px;
        }
            .news__list {
                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;
            }

            .news__pagination {
                margin-top: 32px;
            }

        .news__article {

        }
}
