.panel {
    position: relative;
}
    .panel__body {
        position: relative;
        display: block;
        height: 100%;
        box-shadow: inset 0 0 0 2px #9698FB;
        background-color: rgb(142 143 250 / 45%);
        backdrop-filter: blur(4px);
        border-radius: 5px;
        color: #FFFFFF;
        text-decoration: none;
        transition: background-color var(--transition-hover);
    }

    .panel__body:hover {
        background-color: rgb(142 143 250 / 80%);
    }
        .panel__body.polygon--applied {
            box-shadow: none;
        }

        .panel__body #polygon__path {
            stroke: url(#sky-gradient);
        }
            .panel__slot {
                position: relative; /* выше чем .polygon__border */
                height: 100%;
                padding-bottom: 63px;
            }


            .panel__left-trapezoid {
                position: absolute;
                left: 0;
                top: 50px;
                width: 0;
                height: 75px;
                border: 5px solid transparent;
                border-left-color: #9498FA;
                pointer-events: none;
            }

            .panel__top-trapezoid {
                position: absolute;
                left: 145px;
                top: 0;
                width: 93px;
                height: 0;
                border: 6px solid transparent;
                border-top-color: #A7B3FB;
                pointer-events: none;
            }

            .panel__bottom-trapezoid {
                position: absolute;
                right: 165px;
                bottom: 0;
                width: 93px;
                height: 0;
                border: 5px solid transparent;
                border-bottom-color: #9AA0FB;
                pointer-events: none;
            }

            .panel__left-angle {
                position: absolute;
                left: 0;
                bottom: 0;
                border: 9px solid transparent;
                border-bottom-color: #8E8FFA;
                border-left-color: #8E8FFA;
                pointer-events: none;
            }

            .panel__right-angle {
                position: absolute;
                right: 0;
                top: 0;
                border: 9px solid transparent;
                border-top-color: #BCD2FE;
                border-right-color: #BCD2FE;
                pointer-events: none;
            }

    .panel__action {
        position: absolute;
        right: 0;
        bottom: 0;
    }



.panel--portrait {

}
    .panel--portrait .panel__left-trapezoid {
        top: auto;
        bottom: 88px;
        height: 84px;
        border-left-color: #9397FA;
    }

    .panel--portrait .panel__top-trapezoid {
        left: auto;
        right: 27px;
        border-top-color: #B7C8FE;
    }

    .panel--portrait .panel__bottom-trapezoid {
        right: 150px;
    }

    /* перемещаем угол из левого-нижнего в левый-верхний */
    .panel--portrait .panel__left-angle {
        left: 0;
        bottom: auto;
        top: 0;
        border-left-color: #9DA4FC;
        border-top-color: #9DA4FC;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }


    .panel--portrait .panel__right-angle {
        display: none;
    }



@media (1500px <= width) {

    .panel {

    }
        .panel__body {
            border-radius: 6px;
        }
            .panel__slot {

            }

            .panel__left-trapezoid {
                top: 66px;
                height: 100px;
                border-width: 6px;
            }

            .panel__top-trapezoid {
                left: 193px;
                width: 124px;
                border-width: 7px;
            }

            .panel__bottom-trapezoid {
                right: 220px;
                width: 124px;
                border-width: 6px;
            }

            .panel__left-angle {
                border-width: 11px;
            }

            .panel__right-angle {
                border-width: 11px;
            }


    .panel--portrait {

    }
        .panel--portrait .panel__left-trapezoid {
            bottom: 84px;
            height: 112px;
        }

        .panel--portrait .panel__top-trapezoid {
            right: 37px;
        }

        .panel--portrait .panel__bottom-trapezoid {
            right: 170px;
        }

        .panel--portrait .panel__left-angle {

        }

        .panel--portrait .panel__right-angle {

        }
}



@media (width < 740px) {

    .panel {

    }
        .panel__body {
            border-radius: 4px;
        }
            .panel__slot {

            }

            .panel__left-trapezoid {

            }

            .panel__top-trapezoid {
                left: 43px;
            }

            .panel__bottom-trapezoid {
                display: none;
            }

            .panel__left-angle {

            }

            .panel__right-angle {

            }

    .panel--portrait {

    }
        .panel--portrait .panel__left-trapezoid {
            bottom: 82px;
        }

        .panel--portrait .panel__top-trapezoid {

        }

        .panel--portrait .panel__bottom-trapezoid {

        }

        /* перемещаем угол из левого-нижнего в левый-верхний */
        .panel--portrait .panel__left-angle {

        }

        .panel--portrait .panel__right-angle {

        }
}


