.panel-alike-button {
    position: relative;
    min-height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px 30px 33px;
    box-shadow: inset 0 0 0 3px #C2D9FF;
    background-color: rgb(142 143 250 / 10%);
    backdrop-filter: blur(10px);
    transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
    backface-visibility: hidden; /* улучшаем производительность */
    border-radius: 6px;
    overflow: hidden; /* Обрезаем уголки внутри */
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #C2D9FF;
    text-transform: lowercase;
    transition: background-color var(--transition-hover);
}

.panel-alike-button:hover {
    background-color: rgb(142 143 250 / 30%);
}
    .panel-alike-button__top-trapezoid {
        position: absolute;
        top: 0;
        left: 34px;
        width: 122px;
        height: 0;
        border: 6px solid transparent;
        border-left-width: 11px;
        border-right-width: 11px;
        border-top-color: #C2D9FF;
        pointer-events: none;
    }

    .panel-alike-button__bottom-trapezoid {
        position: absolute;
        bottom: 0;
        right: 21px;
        width: 122px;
        height: 0;
        border: 6px solid transparent;
        border-left-width: 11px;
        border-right-width: 11px;
        border-bottom-color: #C2D9FF;
        pointer-events: none;
    }

    .panel-alike-button__left-angle {
        position: absolute;
        left: 0;
        bottom: 0;
        border: 12px solid transparent;
        border-bottom-color: #C2D9FF;
        border-left-color: #C2D9FF;
        pointer-events: none;
    }

    .panel-alike-button__right-angle {
        position: absolute;
        right: 0;
        top: 0;
        border: 12px solid transparent;
        border-top-color: #C2D9FF;
        border-right-color: #C2D9FF;
        pointer-events: none;
    }



@media (1500px <= width) {

    .panel-alike-button {
        min-height: 130px;
        padding: 18px 30px 22px;
        border-radius: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .panel-alike-button:hover {

    }
        .panel-alike-button__top-trapezoid {
            left: 45px;
            width: 163px;
        }

        .panel-alike-button__bottom-trapezoid {
            right: 28px;
            width: 163px;
        }
}


@media (width < 740px) {

    .panel-alike-button {
        min-height: 100px;
        padding: 15px 16px 19px;
        font-size: 18px;
        line-height: 22px;
    }

    @media (width < 350px) {
        .panel-alike-button {
            font-size: 17px;
        }
    }

    .panel-alike-button:hover {

    }

        .panel-alike-button__left-trapezoid {

        }

        .panel-alike-button__top-trapezoid {

        }

        .panel-alike-button__bottom-angle {

        }

    /* Правый уголок превращается в левый: */
    .panel-alike-button__right-angle {
        right: auto;
        top: auto;
        left: 0;
        bottom: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #C2D9FF;
        border-left-color: #C2D9FF;
        pointer-events: none;
    }
}
