.presentation {
    display: grid;
    grid-template-columns: 288fr 816fr;
    gap: 20px;
}
    .presentation__stage {
        flex-shrink: 0;
    }
        .presentation__stage .preview {
            border-radius: 12px;
        }
            .presentation__stage .preview__image {

            }

    .presentation__content {
        display: flex;
        flex-direction: column;
    }
        .presentation__summary {
            padding-right: 127px;
        }
            .presentation__heading {
                margin-top: 0;
                margin-bottom: 0;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                text-transform: uppercase;
            }

            .presentation__category {
                margin-top: 5px;
                font-family: var(--font-headings);
                font-size: 16px;
                line-height: 20px;
            }

            .presentation__text {
                margin-top: 16px;
            }

        .presentation__footer {
            margin-top: auto;
            padding-top: 16px;
            display: flex;
            align-items: flex-end;
        }
            .presentation__stats {
                flex-grow: 1;
            }
                .presentation__location {

                }

                .presentation__remaining-stats {
                    margin-top: 10px;
                    display: flex;
                    align-items: flex-start;
                    gap: 20px 40px;
                }

            .presentation__details {
                flex-shrink: 0;
            }



@media (1500px <= width) {

    .presentation {
        /*display: grid;*/
        grid-template-columns: 334fr 984fr;
        gap: 24px;
    }
        .presentation__stage {
            /*flex-shrink: 0;*/
        }
            .presentation__stage .preview {
                /*border-radius: 12px;*/
            }
                .presentation__stage .preview__image {

                }

        .presentation__content {
            /*display: flex;*/
            /*flex-direction: column;*/
        }
            .presentation__summary {
                padding-right: 284px;
            }
                .presentation__heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*font-family: var(--font-headings);*/
                    /*font-weight: bold;*/
                    font-size: 28px;
                    line-height: 34px;
                    /*text-transform: uppercase;*/
                }

                .presentation__category {
                    /*margin-top: 5px;*/
                    /*font-family: var(--font-headings);*/
                    font-size: 18px;
                    line-height: 22px;
                }

                .presentation__text {
                    margin-top: 24px;
                }

            .presentation__footer {
                /*margin-top: auto;*/
                padding-top: 20px;
                /*display: flex;*/
                /*align-items: flex-end;*/
            }
                .presentation__stats {
                    /*flex-grow: 1;*/
                    display: flex;
                    align-items: flex-start;
                    gap: 20px 40px;
                    padding-bottom: 4px;
                }
                    .presentation__location {

                    }

                    .presentation__remaining-stats {
                        margin-top: 0;
                        /*display: flex;*/
                        /*align-items: flex-start;*/
                        /*gap: 20px 40px;*/
                    }

                .presentation__details {
                    /*flex-shrink: 0;*/
                }
}
