.presentation {
    position: relative;
    display: flex;
    flex-direction: column;

    /* Картинка 288x272 плюс 20px отступа между колонками: */
    min-height: 272px; /**/
    padding-left: 308px;
}
    .presentation__stage {
        position: absolute;
        left: 0;
        top: 0;
        width: 288px;
    }
        .presentation__stage .preview {
            border-radius: 12px;
        }
            .presentation__stage .preview__image {
                aspect-ratio: 450 / 424;
            }

    .presentation__summary {
        padding-right: 127px;
    }
        .presentation__time {
            display: block;
            padding-bottom: 4px;
            font-family: var(--font-headings);
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }

        .presentation__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-headings);
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-transform: uppercase;
        }

        .presentation__category {
            margin-top: 5px;
            font-family: var(--font-headings);
            font-size: 16px;
            line-height: 20px;
        }

        .presentation__text {
            margin-top: 16px;
        }

    .presentation__footer {
        margin-top: auto;
        padding-top: 16px;
        display: flex;
        align-items: flex-end;
    }
        .presentation__stats {
            flex-grow: 1;
        }
            .presentation__location {

            }

            .presentation__remaining-stats {
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                gap: 20px 40px;
            }

        .presentation__actions {
            flex-shrink: 0;
            display: flex;
            align-items: stretch;
        }
            .presentation__details {

            }


            .presentation__price {
                margin-right: -12px;
                display: flex;
                min-width: 106px;
                align-items: center;
                padding-right: 28px;
                padding-left: 16px;
                background-color: rgb(142 143 250 / 30%);
                box-shadow: inset 0 0 0 2px #7951EE,
                            0 4px 12px 0 rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 28px;
                line-height: 32px;
                color: #191825;
                text-align: center;
            }

            .presentation__buy {
                position: relative;
                z-index: 10;
            }



@media (1500px <= width) {

    .presentation {
        /* Картинка 334x316 плюс 24px отступа между колонками: */
        min-height: 316px;
        padding-left: 358px;
    }
        .presentation__stage {
            width: 334px;
        }
            .presentation__stage .preview {
                border-radius: 16px;
            }
                .presentation__stage .preview__image {

                }

        .presentation__summary {
            padding-right: 284px;
        }
            .presentation__time {
                padding-bottom: 4px;
                font-size: 20px;
                line-height: 24px;
            }

            .presentation__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                font-size: 28px;
                line-height: 34px;
                /*text-transform: uppercase;*/
            }

            .presentation__category {
                /*margin-top: 5px;*/
                /*font-family: var(--font-headings);*/
                font-size: 18px;
                line-height: 22px;
            }

            .presentation__text {
                margin-top: 24px;
            }

        .presentation__footer {
            /*margin-top: auto;*/
            padding-top: 20px;
            /*display: flex;*/
            /*align-items: flex-end;*/
        }
            .presentation__stats {
                /*flex-grow: 1;*/
                display: flex;
                align-items: flex-start;
                gap: 20px 40px;
                padding-bottom: 4px;
            }
                .presentation__location {

                }

                .presentation__remaining-stats {
                    margin-top: 0;
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                    /*gap: 20px 40px;*/
                }

            .presentation__actions {
                /*flex-shrink: 0;*/
            }
}






.presentation--in-catalog {

}

@media (width < 740px) {

    .presentation--in-catalog {
        padding-left: 0;
        min-height: 0;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
        .presentation--in-catalog .presentation__stage {
            position: static;
            margin-top: 23px;
            width: auto;
        }
            .presentation--in-catalog .presentation__stage .preview {
                border-radius: 15px;
            }
                .presentation--in-catalog .presentation__stage .preview__image {
                    /*aspect-ratio: 450 / 424;*/
                }

        .presentation--in-catalog .presentation__summary {
            padding-right: 0;
            order: -1;
            display: flex;
            flex-direction: column;
        }
            .presentation--in-catalog .presentation__time {
                order: -1;
                padding-bottom: 3px;
            }

            .presentation--in-catalog .presentation__heading {
                margin-top: 7px;
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                font-size: 20px;
                line-height: 23px;
                /*text-transform: uppercase;*/
            }

            .presentation--in-catalog .presentation__category {
                order: -1;
                margin-top: 0;
                /*font-family: var(--font-headings);*/
                font-size: 15px;
                line-height: 20px;
            }

            .presentation--in-catalog .presentation__text {
                /*margin-top: 16px;*/
                display: none;
            }

        .presentation--in-catalog .presentation__footer {
            /*margin-top: auto;*/
            padding-top: 24px;
            display: block;
            /*align-items: flex-end;*/
        }
            .presentation--in-catalog .presentation__stats {
                /*flex-grow: 1;*/
            }
                .presentation--in-catalog .presentation__location {

                }

                .presentation--in-catalog .presentation__remaining-stats {
                    margin-top: 10px;
                    /*display: block;*/
                    /*align-items: flex-start;*/
                    flex-wrap: wrap;
                    gap: 14px 22px;
                }

            .presentation--in-catalog .presentation__actions {
                /*flex-shrink: 0;*/
                margin-top: 32px;
            }
}





.presentation--summarized-schedule {

}
    .presentation--summarized-schedule .stat::before {
        filter: none;
    }

@media (width < 740px) {

    .presentation--summarized-schedule {
        display: block;
        padding-left: 0;
        /*flex-direction: column;*/
    }
        .presentation--summarized-schedule .presentation__stage {
            position: static;
        }
            .presentation--summarized-schedule .presentation__stage .preview {
                /*border-radius: 12px;*/
            }
                .presentation--summarized-schedule .presentation__stage .preview__image {
                    /*aspect-ratio: 450 / 424;*/
                }

        .presentation--summarized-schedule .presentation__summary {
            /*padding-right: 127px;*/
        }
            .presentation--summarized-schedule .presentation__time {

            }

            .presentation--summarized-schedule .presentation__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                /*font-size: 24px;*/
                /*line-height: 30px;*/
                /*text-transform: uppercase;*/
            }

            .presentation--summarized-schedule .presentation__category {
                /*margin-top: 5px;*/
                /*font-family: var(--font-headings);*/
                /*font-size: 16px;*/
                /*line-height: 20px;*/
            }

            .presentation--summarized-schedule .presentation__text {
                /*margin-top: 16px;*/
            }

        .presentation--summarized-schedule .presentation__footer {
            /*margin-top: auto;*/
            /*padding-top: 16px;*/
            display: block;
            /*align-items: flex-end;*/
        }
            .presentation--summarized-schedule .presentation__stats {
                /*flex-grow: 1;*/
            }

            .presentation--summarized-schedule .presentation__stats .stat:not(.stat--pushkin-card) {
                display: none;
            }

                .presentation--summarized-schedule .presentation__location {

                }

                .presentation--summarized-schedule .presentation__remaining-stats {
                    /*margin-top: 10px;*/
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                    /*gap: 20px 40px;*/
                }

            .presentation--summarized-schedule .presentation__actions {
                /*flex-shrink: 0;*/
            }
}



.presentation--highlighted-schedule {
    background-color: #CCCDFD;
    box-shadow: inset 0 0 0 5px #1A0482;
    border-radius: 15px;
}
    .presentation--highlighted-schedule .presentation__stage {
        padding: 26px;
    }

    .presentation--highlighted-schedule .presentation__summary {
        padding-top: 26px;
    }

    .presentation--highlighted-schedule .presentation__footer {
        padding-bottom: 26px;
        padding-right: 26px;
    }

    .presentation--highlighted-schedule .stat::before {
        filter: none;
    }

@media (width < 740px) {

    .presentation--highlighted-schedule {
        display: block;
        padding: 12px;
        /*flex-direction: column;*/
    }
        .presentation--highlighted-schedule .presentation__stage {
            position: static;
        }
            .presentation--highlighted-schedule .presentation__stage .preview {
                /*border-radius: 12px;*/
            }
                .presentation--highlighted-schedule .presentation__stage .preview__image {
                    /*aspect-ratio: 450 / 424;*/
                }

        .presentation--highlighted-schedule .presentation__summary {
            /*padding-right: 127px;*/
        }
            .presentation--highlighted-schedule .presentation__time {

            }

            .presentation--highlighted-schedule .presentation__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                /*font-size: 24px;*/
                /*line-height: 30px;*/
                /*text-transform: uppercase;*/
            }

            .presentation--highlighted-schedule .presentation__category {
                /*margin-top: 5px;*/
                /*font-family: var(--font-headings);*/
                /*font-size: 16px;*/
                /*line-height: 20px;*/
            }

            .presentation--highlighted-schedule .presentation__text {
                /*margin-top: 16px;*/
            }

        .presentation--highlighted-schedule .presentation__footer {
            /*margin-top: auto;*/
            /*padding-top: 16px;*/
            /*display: flex;*/
            /*align-items: flex-end;*/
        }
            .presentation--highlighted-schedule .presentation__stats {
                /*flex-grow: 1;*/
            }
                .presentation--highlighted-schedule .presentation__location {

                }

                .presentation--highlighted-schedule .presentation__remaining-stats {
                    /*margin-top: 10px;*/
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                    /*gap: 20px 40px;*/
                }

            .presentation--highlighted-schedule .presentation__actions {
                /*flex-shrink: 0;*/
            }
}


