.project {

}
    .project__time {
        font-family: var(--font-headings);
        font-size: 19px;
        line-height: 24px;
    }

    .project__category {
        margin-top: 12px;
        font-family: var(--font-headings);
        font-size: 15px;
        line-height: 22px;
    }

    .project__category:first-child {
        margin-top: 0;
    }

    .project__heading {
        margin-top: 12px;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }

    .project__body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: minmax(0, 722fr) minmax(0, 380fr);
        gap: 78px;
    }
        .project__content {
            order: -1;
        }
            .project__text {

            }

            .project__summary {
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
                gap: 20px 40px;
            }

        .project__stage {

        }
            .project__stage .preview {
                border-radius: 8px;
            }
                .project__stage .preview__image {

                }

    .project__schedule {
        margin-top: 80px;
        position: relative;
    }
        .project__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-headings);
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
        }

        .project__control-panel {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: stretch;
        }
            .project__control {
                width: 42px;
                height: 42px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .project__control.swiper-button-disabled {
                opacity: 30%;
                cursor: default;
            }

                .project__arrow {
                    fill: #BDD3FE;
                }

        .project__calendar {
            margin-top: 24px;
        }



@media (1500px <= width) {

    .project {

    }
        .project__time {
            font-size: 22px;
            line-height: 26px;
        }

        .project__category {
            margin-top: 16px;
            font-size: 16px;
            line-height: 24px;
        }

        .project__heading {
            margin-top: 16px;
            font-size: 40px;
            line-height: 46px;
        }

        .project__body {
            margin-top: 30px;
            grid-template-columns: minmax(0, 808fr) minmax(0, 450fr);
            gap: 140px;
        }
            .project__stage {

            }
                .project__stage .preview {
                    border-radius: 10px;
                }
                    .project__stage .preview__image {

                    }

            .project__content {

            }
                .project__text {

                }

                .project__summary {
                    /*margin-top: 40px;*/
                    /*display: flex;*/
                    /*align-items: flex-start;*/
                    /*gap: 20px 40px;*/
                }

        .project__schedule {
            margin-top: 100px;
        }
            .project__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                /*font-size: 32px;*/
                /*line-height: 40px;*/
            }

            .project__calendar {
                margin-top: 42px;
                /*display: grid;*/
                /*grid-template-columns: repeat(6, 1fr);*/
                /*gap: 20px;*/
            }
}



@media (width < 740px) {

    .project {

    }
        .project__time {

        }

        .project__category {
            /*font-family: var(--font-headings);*/
            /*font-size: 15px;*/
            /*line-height: 22px;*/
        }

        .project__heading {
            margin-top: 8px;
            /*margin-bottom: 0;*/
            /*font-family: var(--font-headings);*/
            /*font-weight: bold;*/
            font-size: 28px;
            line-height: 32px;
        }

        .project__body {
            margin-top: 24px;
            display: block;
            /*grid-template-columns: 722fr 379fr;*/
            /*gap: 77px;*/
        }
            .project__stage {

            }
                .project__stage .preview {
                    /*border-radius: 8px;*/
                }
                    .project__stage .preview__image {

                    }

            .project__content {
                margin-top: 24px;
            }
                .project__text {

                }

                .project__summary {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    /*align-items: flex-start;*/
                    gap: 24px;
                }


        .project__schedule {
            margin-top: 40px;
        }
            .project__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                font-size: 20px;
                line-height: 24px;
            }
                .project__control-panel {
                    display: none;
                }

            .project__calendar .swiper {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
                .project__calendar .swiper-wrapper {
                    /*margin-top: 23px;*/
                    display: inline-flex;
                    align-items: stretch;
                    box-sizing: border-box !important;
                    gap: 16px;
                }

            /* На 474px отрываем от паддинга контейнера -- там начинает работать max-width и центрирование.
             * Лента больше не упирается в края экрана:
             */
            @media (width < 474px) {
                .project__calendar .swiper {
                    margin-left: calc(-1 * var(--container-padding));
                    margin-right: calc(-1 * var(--container-padding));
                }
                    .project__calendar .swiper-wrapper {
                        padding-left: var(--container-padding);
                    }
                        /* Правый паддинг: */
                        .project__calendar .swiper-wrapper::after {
                            content: "";
                            margin-left: -16px;
                            height: 10px;
                            width: var(--container-padding);
                            flex-shrink: 0;
                        }
            }

                .project__calendar .swiper-slide {
                    flex-shrink: 0;
                    flex-basis: 152px;
                }

                /* Подбираем ширины так, чтобы всегда был один обрезанный айтем.
                 * чтобы понятно было, что есть скроллбар:
                 */
                @media ( 350px <= width < 374px) {
                    .project__calendar .swiper-slide {
                        flex-basis: 140px;
                    }
                }

                @media ( width < 350px) {
                    .project__calendar .swiper-slide {
                        flex-basis: 130px;
                    }
                }
}


