.publication {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
    .publication__stage {
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        flex-shrink: 0;
        overflow: hidden;
    }
        .publication__stretch-image {

        }
            .publication__stage .preview {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
                .publication__stage .preview__image {
                    aspect-ratio: 450 / 250;

                    /* Подтягиваем картинку до стандартных размеров
                     * (380px на ноутбуках и 450px на мониторах):
                     */
                    width: calc(100% + 4px);
                    margin-left: -2px;
                    margin-right: -2px;
                }

    .publication__body {
        position: relative;
        flex-grow: 1;
        border-top: 2px solid #BCD2FE;
        margin-left: 2px;
        margin-right: 2px;
        padding: 18px 18px 20px;
    }
        .publication__content {

        }
            .publication__favorites {
                float: right;
                margin-left: 14px;
                margin-top: -5px;
                margin-right: -5px;
                cursor: help;
                width: 17px;
                height: 21px;
                background-image: url("../vectors/publication-favorites.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .publication__pre-header {
                font-family: var(--font-headings);
                font-size: 15px;
                line-height: 22px;
            }

            .publication__header {
                margin-top: 5px;
                margin-bottom: 0;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                text-wrap: balance;
            }

            .publication__text {
                margin-top: 15px;
                font-size: 16px;
                line-height: 19px;
            }

        .publication__time {
            position: absolute;
            left: 18px;
            top: 100%;
            margin-top: 13px;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
        }



@media (1500px < width) {

    .publication {

    }
        .publication__stage {

        }
            .preview {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
                .preview__image {

                }

                .preview::after {

                }

        .publication__body {
            padding: 22px 24px 24px;
        }
            .publication__content {

            }
                .publication__favorites {
                    margin-left: 16px;
                    margin-top: -6px;
                    margin-right: -6px;
                    width: 21px;
                    height: 26px;
                }

                .publication__pre-header {
                    font-size: 16px;
                    line-height: 24px;
                }

                .publication__header {
                    margin-top: 6px;
                    font-size: 24px;
                    line-height: 28px;
                }

                .publication__text {
                    font-size: 18px;
                    line-height: 22px;
                }

            .publication__time {
                left: 24px;
                font-size: 16px;
                line-height: 24px;
            }
}



@media (width < 740px) {

    .publication {

    }
        .publication__stage {

        }
            .preview {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
                .preview__image {

                }

        .publication__body {
            padding: 16px 17px 17px;
        }
            .publication__content {

            }
                .publication__favorites {
                    margin-left: 12px;
                    margin-top: -3px;
                    margin-right: -3px;
                    width: 15px;
                    height: 18px;
                }

                .publication__pre-header {
                    font-size: 14px;
                    line-height: 20px;
                }

                .publication__header {
                    margin-top: 4px;
                    font-size: 20px;
                    line-height: 24px;
                }

                .publication__text {
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 19px;
                }

            .publication__time {
                left: 17px;
                font-size: 14px;
                line-height: 20px;
            }
}


