.question {
    width: 440px;
    padding: 40px;
}
    .question__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: inherit;
    }

    .question__body {
        margin-top: 20px;
    }


@media (width < 600px) {

    .question {
        width: 100%;
        max-width: 440px;
    }
}
