.related {
    margin-top: 80px;
}
    .related__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
    }

    .related__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }



@media (1500px <= width) {

    .related {
        margin-top: 100px;
    }
        .related__heading {
            margin-top: 40px;
            font-size: 32px;
            line-height: 40px;
        }

        .related__list {
            gap: 24px;
        }
}


@media (width < 740px) {

    .related {
        margin-top: 40px;
    }
        .related__heading {
            font-size: 24px;
            line-height: 28px;
        }

        .related__list {
            margin-top: 24px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 40px;
        }
}




@media (740px <= width) {

    .related--news .related__list {
        grid-template-columns: 1fr 1fr;
    }

    .related--blog .related__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
