.related {
    margin-top: 80px;
}

.related--larger-margin {
    margin-top: 100px;
}
    .related__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
    }

    .related__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }

    .related__list:first-child {
        margin-top: 0;
    }

    .related__carousel {
        margin-top: 32px;
    }


@media (1500px <= width) {

    .related {
        margin-top: 100px;
    }

    .related--larger-margin {
         margin-top: 140px;
    }
        .related__heading {
            font-size: 44px;
            line-height: 50px;
        }

        .related__list {
            gap: 24px;
        }

        .related__carousel {

        }
}


@media (width < 740px) {

    .related {
        margin-top: 40px;
    }

    .related--larger-margin {
        margin-top: 60px;
    }
        .related__heading {
            font-size: 24px;
            line-height: 28px;
        }

        .related__list {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px 40px;
        }

        .related__carousel {
            margin-top: 24px;
        }
}




.related--one-column {

}

@media (740px <= width) {

    .related--one-column .related__list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}



.related--two-columns {

}

@media (740px <= width) {

    .related--two-columns .related__list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}







/* Только на десктопах */


@media (740px <= width) {

    .related__background {
        --related-shift: 46px;
    }

    .related__background {
        position: relative;
        backdrop-filter: blur(10px);
        border-radius: 12px;
        overflow: hidden; /* Обрезаем .related__left-angle и .related__right-angle */
    }

    /* Если достаточно ширины, то можно вытаскивать карточку за границы контефнера: */
    @media (1340px <= width) {
        .related__background {
            margin-left: calc(-1 * var(--related-shift));
            margin-right: calc(-1 * var(--related-shift));
        }
    }
        .related__noise {
            background-image: url("../images/related-noise/related-noise@1x.png");
            background-size: 1141px 712px;
            background-repeat: no-repeat;
            background-position: left top;
            border-radius: 12px;
        }

        @media (min-resolution: 1.5dppx) {
            .related__noise {
                background-image: url("../images/related-noise/related-noise@1.5x.png");
            }
        }

        @media (min-resolution: 2dppx) {
            .related__noise {
                background-image: url("../images/related-noise/related-noise@2x.png");
            }
        }

        @media (min-resolution: 3dppx) {
            .related__noise {
                background-image: url("../images/related-noise/related-noise@3x.png");
            }
        }
            .related__bg-color {
                position: relative;
                background-color: rgb(194 217 255 / 40%);
                box-shadow: inset 0 0 0 5px #ADBCFC;
                padding: 51px var(--related-shift) 75px;
                border-radius: 12px;
            }
                .related__top-trapezoid {
                    position: absolute;
                    left: 213px;
                    top: 0;
                    width: 292px;
                    height: 0;
                    border: 16px solid transparent;
                    border-top-color: #ADBCFC;
                    pointer-events: none;
                }

                .related__bottom-trapezoid {
                    position: absolute;
                    right: 122px;
                    bottom: 0;
                    width: 259px;
                    height: 0;
                    border: 14px solid transparent;
                    border-bottom-color: #ADBCFC;
                    pointer-events: none;
                }

                .related__left-angle {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border: 15px solid transparent;
                    border-bottom-color: #ADBCFC;
                    border-left-color: #ADBCFC;
                    pointer-events: none;
                }

                .related__right-angle {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 15px solid transparent;
                    border-top-color: #ADBCFC;
                    border-right-color: #ADBCFC;
                    pointer-events: none;
                }



    @media (1500px <= width) {

        .related__background {
            --related-shift: 62px;
        }

        .related__background {
            margin-left: 0;
            margin-right: 0;
            border-radius: 16px;
        }

        /* Если достаточно ширины, то можно вытаскивать карточку за границы контефнера: */
        @media (1640px <= width) {
            .related__background {
                margin-left: calc(-1 * var(--related-shift));
                margin-right: calc(-1 * var(--related-shift));
            }
        }
            .related__noise {
                background-size: 1522px 950px;
                border-radius: 16px;
            }
                .related__bg-color {
                    box-shadow: inset 0 0 0 5px #ADBCFC;
                    padding: 68px var(--related-shift) 100px;
                    border-radius: 16px;
                }
                    .related__top-trapezoid {
                        left: 284px;
                        width: 389px;
                        border-width: 21px;
                    }

                    .related__bottom-trapezoid {
                        right: 163px;
                        width: 346px;
                        border-width: 19px;
                    }

                    .related__left-angle {
                        border-width: 20px;
                    }

                    .related__right-angle {
                        border-width: 20px;
                    }
    }
}



/* Карусель */
.related__carousel {

}
    .related__carousel .swiper-wrapper {

    }

    .related__carousel .swiper__control-panel {
        margin-top: 32px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 8px;
    }
        .related__carousel .swiper__control {
            position: relative;
            width: 58px;
            height: 50px;
            box-shadow: inset 0 0 0 1px #BCD1FE;
            border-radius: 4px;
            padding: 0;
            border: none;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: opacity var(--transition-show),
                        background-color var(--transition-show);
        }

        .related__carousel .swiper__control.polygon--applied {
            box-shadow: none;
        }
            .related__carousel .swiper__control.polygon--applied .polygon__border {
                stroke: #BCD1FE;
            }

        .related__carousel .swiper__control--prev {
            left: 0;
            transform: scaleX(-1); /* инвертируем polygon */
        }

        .related__carousel .swiper__control.swiper-button-disabled {
            opacity: 50%;
            cursor: default;
        }
            .related__carousel .swiper__arrow {
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                fill: #BACFFE;
            }


        .related__carousel .swiper__pagination {
            width: auto;
            display: flex;
            align-items: flex-start;
        }
            .related__carousel .swiper-pagination-bullet {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 80%;
                background-color: transparent;
                cursor: pointer;
                margin: 10% 0 !important;
                opacity: 100%;
            }
                .related__carousel .swiper-pagination-bullet::after {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    border: 1px solid #BCD1FE;
                    border-radius: 50%;
                    transition: background-color var(--transition-hover);
                }

            .related__carousel .swiper-pagination-bullet:hover {

            }
                .related__carousel .swiper-pagination-bullet:hover::after {
                    background-color: rgb(188 209 254 / 40%);
                }

            .related__carousel .swiper-pagination-bullet-active {
                cursor: default;
            }
                .related__carousel .swiper-pagination-bullet-active::after,
                .related__carousel .swiper-pagination-bullet-active:hover::after {
                    background-color: #BCD1FE;
                }


/* На десктопах стрелочки с фоном */
@media (740px <= width) {

    .related__carousel .swiper__control  {
        background-color: #BCD1FE;
    }
        .related__carousel .swiper__control .polygon__border {
            display: none;
        }

        .related__carousel .swiper__arrow {
            fill: #191825;
        }
}



@media (1500px <= width) {

    .related__carousel .swiper__control-panel {
        margin-top: 40px;
    }
        .related__carousel .swiper__control {
            width: 66px;
            height: 58px;
        }

        .related__carousel .swiper-pagination-bullet {
            width: 30px;
        }

        .related__carousel .swiper-pagination-bullet::after {
            width: 16px;
            height: 16px;
        }
}




@media (width < 740px) {

    .related__carousel .swiper__control-panel {
        margin-top: 24px;
    }
        .related__carousel .swiper__pagination {
            display: none;
        }
}





/* В зонах планетария выключаем карусель на смартфонах. Стилям проще */

@media (width < 740px) {

    .related--areas {

    }
        .related--areas .swiper-wrapper {
            display: block !important;
            transform: none !important;
        }
            .related--areas .swiper-wrapper .swiper-slide {
                margin: 24px 0 0 !important;
            }

            .related--areas .swiper-wrapper .swiper-slide:first-child {
                margin-top: 0 !important;
            }

            .related--areas .swiper__control-panel {
                display: none;
            }
}

