.request {

}

/* Версия в модалке */
.window .request {
    width: 600px;
    padding: 52px 44px 44px;
}
    .request__heading {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 14px;
        font-family: var(--font-headings);
        font-weight: bold;
        font-size: 34px;
        line-height: 34px;
    }

    .request__field {
        margin-top: 12px;
    }

    .request__field:first-child {
        margin-top: 0;
    }

    .request__submit {
        margin-top: 32px;
        width: fit-content;
        margin-left: auto;
    }



@media (1500px <= width) {

    .request {

    }
        /* Версия в модалке */
        .window .request {
            width: 680px;
            padding: 70px 60px 60px;
        }

        .request__heading {
            padding-bottom: 20px;
            font-size: 40px;
            line-height: 46px;
        }

        .request__field {
            margin-top: 16px;
        }
        .request__submit {
            margin-top: 40px;
        }
}





@media (width < 740px) {

    .request {

    }
        /* Версия в модалке */
        .window .request {
            width: 100%;
            max-width: 440px;
            padding: 32px 28px;
        }

        .request__heading {

        }

        .request__body {

        }
            .request__field {

            }

            .request__field:first-child {

            }

            .request__submit {
                margin-top: 24px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
}



