:root {
    --font: 'Open Sans', sans-serif;
    --font-headings: 'Play', sans-serif;
    --body-font-size: 18px;
    --body-line-height: 25px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-long-hover: 200ms ease;
    --transition-dropdown: 150ms ease;
    --transition-slide: 500ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #272640;
    --container-padding: 40px;
    --desktop-header-height: 164px;
    --mobile-header-height: 82px;
    --input-border: #FFFFFF;
    --input-border-hover-and-focus: #8E8FFA;
    --placeholder-color: #CCCCCC;
    --disabled-background: rgb(255 255 255 / 10%);
    --disabled-color: #AAAAAA;
    --error: #FF0033;
    --sky-gradient: linear-gradient(45deg, #9293FB, #BCD3FE);
    --footer-margin: 142px;
    --footer-radius: 30px;
}

/* Десктопы, планшеты и смартфоны: */
@media (width < 1500px) {
    :root {
        --container-padding: 30px;
        --desktop-header-height: 136px;
        --body-font-size: 16px;
        --body-line-height: 22px;
        --footer-margin: 114px;
        --footer-radius: 24px;
    }
}

@media (width < 740px) {
    :root {
        --footer-margin: 80px;
        --footer-radius: 16px;
    }
}


@media (400px <= width < 740px) {
    :root {
        --container-padding: 36px;
    }
}

@media (380px <= width < 400px) {
    :root {
        --container-padding: 30px;
    }
}

@media (350px <= width < 380px) {
    :root {
        --container-padding: 20px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
