:root {
    --font: 'Lato', sans-serif;
    --font-headings: 'Play', sans-serif;
    --body-font-size: 18px;
    --body-line-height: 25px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #CCCDFD;
    --container-padding: 40px;
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    /*--disabled-background: #F6F6F6;*/
    /*--disabled-color: #999999;*/
    /*--error: #FF0033;*/
    --black: #191825;
}

/*@media (350px <= width < 600px) {*/
/*    :root {*/
/*        --container-padding: 24px;*/
/*    }*/
/*}*/

/*@media (width < 350px) {*/
/*    :root {*/
/*        --container-padding: 16px;*/
/*    }*/
/*}*/
