/* stylelint-disable */
#museum,
#observatory,
#shuttle-5d,
#interactive-gallery,
#star-hall,
#interactive-classroom {
    cursor: pointer;
}

/* Заполняем цветами оригинальную картинку */
#museum-background,
#observatory-background,
#shuttle-5d-background,
#interactive-gallery-background,
#star-hall-background,
#interactive-classroom-background
{
    fill: rgb(142 143 250 / 55%);
    transition: fill var(--transition-hover);
}


/* Наведения на части карты */
.areas--museum                 #museum-background,
.areas--observatory            #observatory-background,
.areas--shuttle-5d             #shuttle-5d-background,
.areas--interactive-gallery    #interactive-gallery-background,
.areas--star-hall              #star-hall-background,
.areas--interactive-classroom  #interactive-classroom-background
{
    fill: #8E8FFA;
}


/* Наведения на меню в сайдбаре */
.areas--museum                 #museum-link,
.areas--observatory            #observatory-link,
.areas--shuttle-5d             #shuttle-5d-link,
.areas--interactive-gallery    #interactive-gallery-link,
.areas--star-hall              #star-hall-link,
.areas--interactive-classroom  #interactive-classroom-link
{
    background-color: #8E8FFA;
}

/* stylelint-enable */
