.sector {
    display: block;
    padding: 148px 12px 14px;
    box-shadow: inset 0 0 0 2px #8E8FFA;
    background-color: rgb(142 143 250 / 45%);
    background-size: 128px 105px;
    background-repeat: no-repeat;
    background-position: center 36px;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    transition: background-color var(--transition-hover);
    text-decoration: none;
    color: inherit;
}

.sector:hover {
    background-color: rgb(142 143 250 / 60%);
}

/* stylelint-disable */
.sector__link--star-hall             { background-image: url("../vectors/area-star-hall.svg"); }
.sector__link--interactive-classroom { background-image: url("../vectors/area-interactive-classroom.svg"); }
.sector__link--museum                { background-image: url("../vectors/area-museum.svg"); }
.sector__link--observatory           { background-image: url("../vectors/area-observatory.svg"); }
.sector__link--interactive-gallery   { background-image: url("../vectors/area-interactive-gallery.svg"); }
.sector__link--shuttle-5d            { background-image: url("../vectors/area-shuttle-5d.svg"); }
/* stylelint-enable */

    .sector__label {
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-headings);
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center;
    }

    .sector__link--interactive-gallery .sector__label {
        font-size: 25px;
        line-height: 32px;
    }

    .sector__link--museum .sector__label {
        font-size: 17px;
        line-height: 21px;
    }

    .sector__link--shuttle-5d .min-height {
        font-size: 25px;
        line-height: 32px;
    }


@media (1500px <= width) {

    .sector {
        padding: 171px 8px 18px;
        box-shadow: inset 0 0 0 3px #8E8FFA;
        background-size: 153px 125px;
        border-radius: 15px;
    }

    .sector:hover {

    }
        .sector__label {
            min-height: 74px;
            font-size: 32px;
            line-height: 37px;
        }
            .sector__link--interactive-gallery .sector__label {
                font-size: 31px;
                line-height: 37px;
            }

            .sector__link--museum .sector__label {
                font-size: 21px;
                line-height: 25px;
            }

            .sector__link--shuttle-5d .min-height {
                font-size: 31px;
                line-height: 37px;
            }
}




@media (width < 740px) {

    .sector {
        padding: 22px 22px 22px 92px;
        box-shadow: inset 0 0 0 3px #8E8FFA;
        background-size: 60px 49px;
        background-position: 18px center;
        border-radius: 8px;
    }
        .sector__label {
            justify-content: flex-start;
            min-height: 56px;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
        }

        .sector__link--interactive-gallery .sector__label {
            font-size: 23px;
            line-height: 28px;
        }

        .sector__link--museum .sector__label {
            font-size: 16px;
            line-height: 19px;
        }

        .sector__link--shuttle-5d .min-height {
            font-size: 23px;
            line-height: 28px;
        }

        @media (width < 350px) {

            .sector__label {
                font-size: 19px;
                line-height: 26px;
            }

            .sector__link--interactive-gallery .sector__label {
                font-size: 18px;
                line-height: 20px;
            }

            .sector__link--museum .sector__label {
                font-size: 13px;
                line-height: 16px;
            }

            .sector__link--shuttle-5d .min-height {
                font-size: 18px;
                line-height: 20px;
            }
        }
}


