.show {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
    .show__stage {
        flex-shrink: 0;
    }
        .show__stage .preview {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
            .show__stage .preview__image {
                aspect-ratio: 450 / 424;
            }

    .show__body {
        position: relative;
        flex-grow: 1;
        background-color: #FFFFFF;
        color-scheme: light;
        border-bottom-right-radius: 5px;
        color: #191825;
        padding: 17px 16px 28px;
    }
        .show__restriction {
            float: right;
            width: 44px;
            height: 40px;
            margin-left: 16px;
            margin-bottom: 12px;
            background-image: url("../vectors/show-restriction.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #190482;
        }

        .show__pre-header {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }

        .show__header {
            margin-top: 10px;
            margin-bottom: 0;
            font-family: var(--font-headings);
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            text-wrap: balance;
        }

        .show__list {
            margin-top: 16px;
        }
            .show__item {

            }

    .show__footer {
        flex-shrink: 0;
        display: flex;
        align-items: stretch;
        color-scheme: light;
    }
        .show__info {
            flex-grow: 1;
            position: relative;
            padding: 0 16px;
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #191825;
        }
            .show__info::after {
                content: "";
                position: absolute;
                left: 100%;
                top: 0;
                margin-left: -1px; /* минус единичка чтобы избежать визуальных багов когда ставим один белый фон рядом с другим */
                margin-top: -1px; /* минус единичка чтобы избежать визуальных багов когда ставим один белый фон рядом с другим */
                width: 7px;
                height: 7px;
                background-color: #FFFFFF;
                clip-path: path('M7 1C4 1 1 4 1 7H0V0H7V1Z'); /* show-inner-angle.svg */
            }

        .show__action {
            flex-shrink: 0;
            padding-top: 7px;
            padding-left: 9px;
        }


@media (1500px < width) {

    .show {

    }
        .show__stage {

        }
            .preview {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
                .preview__image {

                }

                .preview::after {

                }

        .show__body {
            padding: 25px 20px 38px;
            border-bottom-right-radius: 6px;
        }
            .show__content {

            }
                .show__restriction {
                    width: 50px;
                    height: 45px;
                    font-size: 18px;
                    line-height: 24px;
                }

                .show__pre-header {
                    font-size: 18px;
                    line-height: 24px;
                }

                .show__header {
                    margin-top: 12px;
                    font-size: 28px;
                    line-height: 32px;
                }

        .show__list {
            margin-top: 18px;
        }

        .show__footer {

        }
            .show__info {
                padding: 0 20px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            .show__action {
                padding-top: 8px;
                padding-left: 10px;
            }
}



@media (width < 740px) {

    .show {

    }
        .show__stage {

        }
            .preview {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
                .preview__image {

                }

        .show__body {
            border-bottom-right-radius: 4px;
        }
            .show__content {

            }
                .show__restriction {

                }

                .show__pre-header {
                    font-size: 15px;
                    line-height: 20px;
                }

                .show__header {

                }

        .show__list {

        }

        .show__footer {

        }
            .show__info {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .show__action {
                padding-top: 6px;
                padding-left: 8px;
            }
}


