.show {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
    .show__stage {
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        flex-shrink: 0;
    }
        .show__preview {
            position: relative;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }
            .show__image {
                vertical-align: top;
                width: 100%;
                height: auto;
                aspect-ratio: 450 / 250;
                object-fit: cover;
                background-color: var(--image-fallback);
                transition: filter var(--transition-hover);
            }

            .panel__body:hover .show__image {
                filter: brightness(1.05) contrast(1.05);
            }

            .show__preview::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: block;
                background-image: linear-gradient(rgb(142 143 250 / 0) 0%, rgb(142 143 250 / 50%) 119.8%);
            }

    .show__body {
        position: relative;
        flex-grow: 1;
        border-top: 2px solid #BCD2FE;
        padding: 18px 20px 20px;
    }
        .show__content {

        }
            .show__favorites {
                float: right;
                margin-left: 14px;
                margin-top: -5px;
                margin-right: -5px;
                cursor: help;
            }
                .show__pin {
                    vertical-align: top;
                    fill: #C2D9FF;
                    width: auto;
                    height: 21px;
                }

            .show__pre-header {
                font-family: var(--font-headings);
                font-size: 15px;
                line-height: 22px;
            }

            .show__header {
                margin-top: 5px;
                margin-bottom: 0;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                text-wrap: balance;
            }

            .show__text {
                margin-top: 15px;
                font-size: 16px;
                line-height: 19px;
            }

        .show__time {
            position: absolute;
            left: 18px;
            top: 100%;
            margin-top: 13px;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
        }



@media (1500px < width) {

    .show {

    }
        .show__stage {

        }
            .show__preview {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
                .show__image {

                }

                .show__preview::after {

                }

        .show__body {
            padding: 22px 24px 24px;
        }
            .show__content {

            }
                .show__favorites {
                    margin-left: 16px;
                    margin-top: -6px;
                    margin-right: -6px;
                }
                    .show__pin {
                        width: auto;
                        height: 26px;
                    }

                .show__pre-header {
                    font-size: 16px;
                    line-height: 24px;
                }

                .show__header {
                    margin-top: 6px;
                    font-size: 24px;
                    line-height: 28px;
                }

                .show__text {
                    font-size: 18px;
                    line-height: 22px;
                }

            .show__time {
                left: 24px;
                font-size: 16px;
                line-height: 24px;
            }
}



@media (width < 740px) {

    .show {

    }
        .show__stage {

        }
            .show__preview {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
                .show__image {

                }

        .show__body {
            padding: 16px 17px 17px;
        }
            .show__content {

            }
                .show__favorites {
                    margin-left: 12px;
                    margin-top: -3px;
                    margin-right: -3px;
                }
                    .show__pin {
                        width: auto;
                        height: 18px;
                    }

                .show__pre-header {
                    font-size: 14px;
                    line-height: 20px;
                }

                .show__header {
                    margin-top: 4px;
                    font-size: 20px;
                    line-height: 24px;
                }

                .show__text {
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 19px;
                }

            .show__time {
                left: 17px;
                font-size: 14px;
                line-height: 20px;
            }
}


