@keyframes slide-down {
    from {
        opacity: 50%;
        transform: translateY(-10px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}


@keyframes slide-down-longer {
    from {
        opacity: 20%;
        transform: translateY(-40px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}
