.slideshow {

}
    .slideshow__content {
        position: relative;
    }
        .slideshow__item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity var(--transition-slide),
                        visibility var(--transition-slide);
        }

        .slideshow__item--current {
            position: static;
            opacity: 100%;
            visibility: visible;
        }


    .slideshow__control {
        cursor: pointer;
    }

    .slideshow__control:disabled {
        opacity: 30%;
        cursor: default;
    }

    .slideshow__control--prev {

    }

    .slideshow__control--next {

    }
        .slideshow__arrow {

        }

    .slideshow__control-panel {

    }
        .slideshow__navigation {

        }
            .slideshow__dot {
                cursor: pointer;
            }

            .slideshow__dot--current {
                cursor: default;
                font-weight: bold;
            }

        .slideshow__buttons {

        }


.slideshow--info {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}
    .slideshow--info .slideshow__control-panel {

    }
        .slideshow--info .slideshow__navigation {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
            .slideshow--info .slideshow__dot {
                position: relative;
                width: 30px;
                height: 44px;
                padding: 0;
                background-color: transparent;
                border: none;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }
                .slideshow--info .slideshow__dot::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 1px solid #BACFFE;
                    transition: background-color var(--transition-slide),
                                border-color var(--transition-slide);
                }

                .slideshow--info .slideshow__dot:hover::before {
                    background-color: rgb(188 209 254 / 50%);
                }


                .slideshow--info .slideshow__dot--current::before,
                .slideshow--info .slideshow__dot--current:hover::before {
                    background-color: #BCD1FE;
                }

        .slideshow--info .slideshow__buttons {

        }

    .slideshow--info .slideshow__control {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 54px;
        height: 50px;
        background-color: #BCD1FE;
        padding: 0;
        border: none;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        transition: opacity var(--transition-show),
                    background-color var(--transition-show);
    }

    .slideshow--info .slideshow__control--prev {
        left: 0;
        transform: scaleX(-1); /* инвертируем polygon */
    }

    .slideshow--info .slideshow__control--next {
        right: 0;
    }

    .slideshow--info .slideshow__control:hover {
        background-color: #D7F0FF;
    }

    .slideshow--info .slideshow__control:active {
        margin-top: -24px; /* Не используй translate -- будет конфликтовать с разворотом кнопки */
        transition: none;
    }

        .slideshow--info .slideshow__arrow {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            fill: #191825;
        }


@media (1500px <= width) {

    .slideshow--info {
        padding-left: 119px;
        padding-right: 119px;
    }
        .slideshow--info .slideshow__control {
            margin-top: -29px;
            width: 62px;
            height: 58px;
        }

        .slideshow--info .slideshow__control:active {
            margin-top: -28px; /* Не используй translate -- будет конфликтовать с разворотом кнопки */
        }
}



@media (width < 740px) {

    .slideshow--info {
        padding-left: 0;
        padding-right: 0;
    }
        .slideshow--info .slideshow__control-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .slideshow--info .slideshow__navigation {
                position: static;
            }
                .slideshow--info .slideshow__dot {

                }
                    .slideshow--info .slideshow__dot::before {

                    }

                    .slideshow--info .slideshow__dot:hover::before {

                    }


                    .slideshow--info .slideshow__dot--current::before,
                    .slideshow--info .slideshow__dot--current:hover::before {

                    }

            .slideshow--info .slideshow__buttons {
                margin-top: 24px;
                display: flex;
                align-items: flex-start;
                gap: 16px;
            }

            .slideshow--info .slideshow__navigation + .slideshow__buttons {
                margin-top: 0;
            }
                .slideshow--info .slideshow__control {
                    position: relative;
                    top: auto;
                    margin-top: 0;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 1px #BACFFE;
                    border-radius: 4px;
                }

                .slideshow--info .slideshow__control.polygon--applied {
                    box-shadow: none;
                }
                    .slideshow--info .slideshow__control.polygon--applied #polygon__path {
                        stroke: #BACFFE;
                    }

                .slideshow--info .slideshow__control--prev {

                }

                .slideshow--info .slideshow__control--next {

                }

                .slideshow--info .slideshow__control:hover {
                    background-color: transparent;
                }

                .slideshow--info .slideshow__control:active {
                    margin-top: 0;
                    top: 1px; /* Не используй translate -- будет конфликтовать с разворотом кнопки */
                }
                    .slideshow--info .slideshow__arrow {
                        fill: #BACFFE;
                    }
}




.slideshow--main {
    position: relative;
}
    .slideshow--main .slideshow__inner {
        position: relative;
        padding: 5px;
        background: linear-gradient(to right, #989DFC, #BACEFE);
        border-radius: 15px;
        overflow: hidden;
    }
        .slideshow--main .slideshow__content {
            position: relative;
        }

        .slideshow--main .slideshow__left-trapezoid {
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 186px;
            margin-top: -93px;
            border: 12px solid transparent;
            border-left-color: #989DFC;
            pointer-events: none;
        }

        .slideshow--main .slideshow__top-trapezoid {
            position: absolute;
            left: 335px;
            top: 0;
            width: 186px;
            height: 0;
            border: 12px solid transparent;
            border-top-color: #A6B2FC;
            pointer-events: none;
        }

        .slideshow--main .slideshow__right-angle {
            position: absolute;
            right: 0;
            bottom: 0;
            border: 21px solid transparent;
            border-bottom-color: #BACEFE;
            border-right-color: #BACEFE;
            pointer-events: none;
        }


    .slideshow--main .slideshow__control-panel {
        display: flex;
        margin-top: 24px;
        align-items: center;
        justify-content: center;
    }
        .slideshow--main .slideshow__navigation {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
            .slideshow--main .slideshow__dot {
                flex-shrink: 0;
                height: 40px;
                padding: 0 6px;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .slideshow--main .slideshow__dot--current {

            }
                .slideshow--main .slideshow__planet {
                    vertical-align: top;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    transition: width var(--transition-slide),
                                height var(--transition-slide),
                                box-shadow var(--transition-slide),
                                filter 200ms ease;
                }

                .slideshow--main .slideshow__dot:hover .slideshow__planet {
                    filter: brightness(1.15) contrast(1.15);
                }

                .slideshow--main .slideshow__dot--current .slideshow__planet {
                    width: 36px;
                    height: 36px;
                    box-shadow: 2px 2px 12px rgba(157, 165, 252, 0.45),
                                -2px -2px 12px rgba(158, 166, 252, 0.45);
                }

                .slideshow--main .slideshow__dot:hover::before {

                }


                .slideshow--main .slideshow__dot--current::before,
                .slideshow--main .slideshow__dot--current:hover::before {

                }


        .slideshow--main .slideshow__control {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: transparent;
            padding: 0;
            border: none;
            cursor: pointer;
        }

        .slideshow--main .slideshow__control:disabled {

        }

        .slideshow--main .slideshow__control--prev {

        }

        .slideshow--main .slideshow__control--next {

        }

        .slideshow--main .slideshow__control:hover {

        }

        .slideshow--main .slideshow__control:active {

        }

            .slideshow--main .slideshow__arrow {
                fill: #FFFFFF;
                transition: fill var(--transition-hover);
            }

            .slideshow--main .slideshow__control:hover .slideshow__arrow {
                fill: #BDD3FE;
            }



@media (1500px <= width) {

    .slideshow--main {

    }
        .slideshow--main .slideshow__inner {
            border-radius: 20px;
        }
            .slideshow--main .slideshow__content {

            }

            .slideshow--main .slideshow__left-trapezoid {
                height: 248px;
                margin-top: -124px;
                border-width: 16px;
            }

            .slideshow--main .slideshow__top-trapezoid {
                left: 447px;
                width: 248px;
                border-width: 16px;
            }

            .slideshow--main .slideshow__right-angle {
                border-width: 28px;
            }


        .slideshow--main .slideshow__control-panel {
            margin-top: 40px;
        }
            .slideshow--main .slideshow__navigation {

            }
                .slideshow--main .slideshow__dot {
                    padding: 0 8px;
                }

                .slideshow--main .slideshow__dot--current {

                }
                    .slideshow--main .slideshow__planet {
                        width: 24px;
                        height: 24px;
                    }

                    .slideshow--main .slideshow__dot:hover .slideshow__planet {

                    }

                    .slideshow--main .slideshow__dot--current .slideshow__planet {
                        width: 44px;
                        height: 44px;
                    }

                    .slideshow--main .slideshow__dot:hover::before {

                    }


                    .slideshow--main .slideshow__dot--current::before,
                    .slideshow--main .slideshow__dot--current:hover::before {

                    }


            .slideshow--main .slideshow__control {

            }

            .slideshow--main .slideshow__control:disabled {

            }

            .slideshow--main .slideshow__control--prev {

            }

            .slideshow--main .slideshow__control--next {

            }

            .slideshow--main .slideshow__control:hover {

            }

            .slideshow--main .slideshow__control:active {

            }

                .slideshow--main .slideshow__arrow {

                }

                .slideshow--main .slideshow__control:hover .slideshow__arrow {

                }
}



@media (width < 740px) {

    .slideshow--main {

    }
        .slideshow--main .slideshow__inner {
            border-radius: 10px;
        }
            .slideshow--main .slideshow__content {

            }

            .slideshow--main .slideshow__left-trapezoid {
                height: 160px;
                margin-top: -80px;
                border-width: 11px;
            }

            .slideshow--main .slideshow__top-trapezoid {
                display: none;
            }

            .slideshow--main .slideshow__right-angle {
                border-width: 16px;
            }


        .slideshow--main .slideshow__control-panel {

        }
            .slideshow--main .slideshow__navigation {

            }
                .slideshow--main .slideshow__dot {
                    height: 32px;
                    padding: 0 6px;
                }

                .slideshow--main .slideshow__dot--current {

                }
                    .slideshow--main .slideshow__planet {
                        width: 18px;
                        height: 18px;
                    }

                    .slideshow--main .slideshow__dot:hover .slideshow__planet {

                    }

                    .slideshow--main .slideshow__dot--current .slideshow__planet {
                        width: 32px;
                        height: 32px;
                        box-shadow: 2px 2px 9px rgba(157, 165, 252, 0.45),
                                    -2px -2px 9px rgba(158, 166, 252, 0.45);
                    }

                    .slideshow--main .slideshow__dot:hover::before {

                    }


                    .slideshow--main .slideshow__dot--current::before,
                    .slideshow--main .slideshow__dot--current:hover::before {

                    }


            .slideshow--main .slideshow__control {
                width: 32px;
                height: 32px;
            }

            .slideshow--main .slideshow__control:disabled {

            }

            .slideshow--main .slideshow__control--prev {

            }

            .slideshow--main .slideshow__control--next {

            }

            .slideshow--main .slideshow__control:hover {

            }

            .slideshow--main .slideshow__control:active {

            }

                .slideshow--main .slideshow__arrow {

                }

                .slideshow--main .slideshow__control:hover .slideshow__arrow {

                }
}
