.stat {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
    .stat::before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        filter: invert(1);
    }

    /* stylelint-disable */
    .stat--contains::before     { width: 22px; background-image: url("../vectors/stat-contains@3x.png"); }
    .stat--location::before     { width: 27px; background-image: url("../vectors/stat-location@3x.png"); }
    .stat--duration::before     { width: 22px; background-image: url("../vectors/stat-duration@3x.png"); }
    .stat--restriction::before  { width: 18px; background-image: url("../vectors/stat-restriction@3x.png"); }
    .stat--pushkin-card::before { width: 22px; background-image: url("../vectors/stat-pushkin-card@3x.png"); }
    /* stylelint-enable */


.stat--inverted {
    color: #000000;
    opacity: 92%;
}
    .stat--inverted::before {
        filter: none;
    }



@media (1500px <= width) {

    .stat {
        gap: 8px;
        font-size: 18px;
        line-height: 26px;
    }
        .stat::before {
            width: 26px;
            height: 26px;
        }

        /* stylelint-disable */
        .stat--contains::before     { width: 26px; }
        .stat--location::before     { width: 32px; }
        .stat--duration::before     { width: 26px; }
        .stat--restriction::before  { width: 21px; }
        .stat--pushkin-card::before { width: 26px; }
        /* stylelint-enable */
}





.stat--larger {

}
    .stat--larger::before {
        height: 30px;
    }

    /* stylelint-disable */
    .stat--contains::before     { width: 30px; }
    .stat--location::before     { width: 37px; }
    .stat--duration::before     { width: 30px; }
    .stat--restriction::before  { width: 24px; }
    .stat--pushkin-card::before { width: 30px; }
    /* stylelint-enable */


@media (1500px <= width) {

    .stat--larger {
        font-size: 19px;
        line-height: 24px;
    }
        .stat--larger::before {
            height: 38px;
        }
        /* stylelint-disable */
        .stat--contains::before     { width: 38px; }
        .stat--location::before     { width: 47px; }
        .stat--duration::before     { width: 38px; }
        .stat--restriction::before  { width: 31px; }
        .stat--pushkin-card::before { width: 38px; }
        /* stylelint-enable */

}

@media (width < 740px) {

    .stat--larger {

    }
        .stat--larger::before {
            height: 26px;
        }

        /* stylelint-disable */
        .stat--contains::before     { width: 26px; }
        .stat--location::before     { width: 32px; }
        .stat--duration::before     { width: 26px; }
        .stat--restriction::before  { width: 21px; }
        .stat--pushkin-card::before { width: 26px; }
        /* stylelint-enable */
}
