.sub-nav {

}
    .sub-nav__handler {

    }

    @media (740px <= width) {
        .sub-nav__handler {
            display: none;
        }
    }

    .sub-nav__dropdown {

    }
        .sub-nav__section {
            margin-top: 40px;
        }

        .sub-nav__section:first-child {
            margin-top: 0;
        }
            .sub-nav__heading {
                display: block;
                margin-top: 0;
                margin-bottom: 0;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #C2D9FF;
            }

            .sub-nav__list {
                margin-top: 20px;
            }

            .sub-nav__list:first-child {
                margin-top: 0;
            }
                .sub-nav__link {
                    display: block;
                    margin-top: 20px;
                    padding: 17px 20px;
                    box-shadow: inset 0 0 0 2px #8E8FFA;
                    background-color: rgb(142 143 250 / 45%);
                    backdrop-filter: blur(8);
                    border: none;
                    border-radius: 5px;
                    position: relative; /* Позиционирование абсолютного .polygon__border здесь */
                    font-family: inherit;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                    cursor: pointer;
                    user-select: none;
                    transition: background-color var(--transition-hover);
                }

                .sub-nav__link:first-child {
                    margin-top: 0;
                }

                .sub-nav__link:hover {
                    background-color: rgb(142 143 250 / 60%);
                }

                .sub-nav__link--current {
                    background-color: #8E8FFA;
                }


                .sub-nav__link.polygon--applied {
                    box-shadow: none;
                }

                .sub-nav__link #polygon__path {
                    stroke: #8E8FFA; /* Аналогично box-shadow */
                }
                    .sub-nav__label {
                        position: relative; /* Выше .polygon__border */
                    }

    .sub-nav__addition-action {
        margin-top: 45px;
        padding: 32px;
        box-shadow: inset 0 0 0 2px #8E8FFA;
        background-color: rgb(142 143 250 / 45%);
        border-radius: 6px;
        backdrop-filter: blur(8);
        text-align: center;
    }

@media (1500px <= width) {
    .sub-nav {

    }
        .sub-nav__dropdown {

        }
            .sub-nav__section {
                margin-top: 53px;
            }
                .sub-nav__heading {
                    font-size: 28px;
                    line-height: 34px;
                }

                .sub-nav__list {
                    /*margin-top: 24px;*/
                }
                    .sub-nav__link {
                        margin-top: 24px;
                        padding: 18px 24px;
                        font-size: 18px;
                        line-height: 26px;
                    }

        .sub-nav__addition-action {
            padding: 40px;
        }
}



@media (width < 740px) {

    .sub-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .sub-nav__handler {
            position: relative;
            width: 100%;
            padding: 12px calc(var(--container-padding) + 24px) 12px var(--container-padding);
            border: 1px solid #FFFFFF;
            background-color: transparent;
            border-radius: 4px;
            font-family: inherit;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            white-space: nowrap;
            text-align: left;
            cursor: pointer;
        }
            .sub-nav__handler::after {
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -5px;
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 8px solid #FFFFFF;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                transform: translateY(1px);
                transition: transform 100ms ease;
            }

            .sub-nav--expanded .sub-nav__handler::after {
                transform: translateY(-1px) scaleY(-1);
            }

        .sub-nav__dropdown {
            margin-top: 12px;
            border: 1px solid #FFFFFF;
            padding: calc(10px + var(--container-padding) / 2) var(--container-padding);
            border-radius: 4px;
            display: none;
            animation: slide-down 300ms ease;
        }

        .sub-nav--expanded .sub-nav__dropdown {
            display: block;
        }
            .sub-nav__section {
                margin-top: 16px;
            }
                .sub-nav__heading {

                }

                .sub-nav__list {
                    margin-top: 12px;
                    display: inline-flex;
                    flex-direction: column;
                }
                    .sub-nav__link {
                        margin-top: 0;
                        padding: calc(var(--container-padding) / 3.75) 0;
                        background-color: transparent !important;
                        backdrop-filter: none;
                        border-radius: 0;
                        clip-path: none !important;
                    }

                    .sub-nav__link:first-child {

                    }

                    .sub-nav__link:last-child {

                    }

                    .sub-nav__link--current {
                        background-color: transparent;
                        color: #C3D3FE;
                    }
                        .sub-nav__link .polygon__border {
                            display: none;
                        }

        .sub-nav__addition-action {
            margin-top: 0;
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            backdrop-filter: none;
        }

}
