.wysiwyg {
    overflow-wrap: break-word;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: calc(var(--body-line-height) / 2);
    margin-bottom: calc(var(--body-line-height) / 2);
}

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}


.wysiwyg h2 {
    margin-top: 40px;
    margin-bottom: var(--body-line-height);
    font-family: var(--font-headings);
    font-size: 22px;
    line-height: 26px;
}
    @media (width < 1500px) {
        .wysiwyg h2 {
            font-size: 20px;
            line-height: 23px;
        }
    }


.wysiwyg h3 {
    font-family: var(--font-headings);
    font-size: 20px; /* В дизайне не было, но проставляем значение меньшее чем у <h2> */
    line-height: 23px; /* В дизайне не было, но проставляем значение меньшее чем у <h2> */
}
    @media (width < 1500px) {
        .wysiwyg h3 {
            font-size: 18px;
            line-height: 22px;
        }
    }


.wysiwyg h4 {
    font-size: 18px; /* В дизайне не было, но проставляем значение меньшее чем у <h3> */
    line-height: 224px; /* В дизайне не было, но проставляем значение меньшее чем у <h3> */
}
    @media (width < 1500px) {
        .wysiwyg h4 {
            font-size: 16px;
            line-height: 20px;
        }
    }
.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}

.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child {
    margin-bottom: 0;
}


.wysiwyg img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.wysiwyg a {
    /* See .link component */
}



