.wysiwyg {
    overflow-wrap: break-word;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg figure {
    margin-top: calc(var(--body-line-height) / 2);
    margin-bottom: calc(var(--body-line-height) / 2);
}



.wysiwyg blockquote {
    margin-top: var(--body-line-height);
    margin-bottom: var(--body-line-height);
    font-style: italic;
}

.wysiwyg hr {
    margin-top: calc(1.5 * var(--body-line-height));
    margin-bottom: calc(1.5 * var(--body-line-height));
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border: none;
    height: 1px;
    background-color: currentColor;
}

.wysiwyg h2 {
    margin-top: 40px;
    margin-bottom: var(--body-line-height);
    font-family: var(--font-headings);
    font-size: 22px;
    line-height: 26px;
    text-wrap: balance;
}
    @media (1500px <= width) {
        .wysiwyg h2 {
            font-size: 28px;
            line-height: 34px;
        }
    }

.wysiwyg h3 {
    font-family: var(--font-headings);
    font-size: 20px; /* В дизайне не было, но проставляем значение меньшее чем у <h2> */
    line-height: 23px; /* В дизайне не было, но проставляем значение меньшее чем у <h2> */
    text-wrap: balance;
}
    @media (1500px <= width) {
        .wysiwyg h3 {
            font-size: 26px;
            line-height: 32px;
        }
    }


.wysiwyg h4 {
    font-size: 18px; /* В дизайне не было, но проставляем значение меньшее чем у <h3> */
    line-height: 24px; /* В дизайне не было, но проставляем значение меньшее чем у <h3> */
    text-wrap: balance;
}
    @media (1500px <= width) {
        .wysiwyg h4 {
            font-size: 24px;
            line-height: 30px;
        }
    }




.wysiwyg img {
    vertical-align: top;
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    background-color: var(--image-fallback);
    border-radius: 12px;
}

@media (1500px <= width) {
    .wysiwyg img {
        border-radius: 16px;
    }
}

.wysiwyg a {
    /* See .link component */
}



.info-panel {
    margin-top: calc(var(--body-line-height));
    margin-bottom: calc(var(--body-line-height));
}

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child,
.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child,
.wysiwyg .info-panel:first-child
{
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child ,
.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg h4:last-child,
.wysiwyg .info-panel:last-child
{
    margin-bottom: 0;
}


