<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Этапы жизни В.В. Терешковой</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328e-05" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="about.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <a class="link link--white" href="about.html">О&nbsp;центре</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Этапы жизни В.В. Терешковой</span>
            </span>
        </div>

        <div class="default container">
            <div class="default__sidebar">
                <div class="sticky">
                    <div class="sub-nav">
                        <button class="sub-nav__handler" type="button">
                            Разделы
                        </button>
                        <div class="sub-nav__dropdown">
                            <div class="sub-nav__section">
                                <div class="sub-nav__list">
                                    <a class="sub-nav__link polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">История создания</span>
                                    </a>
                                    <a class="sub-nav__link sub-nav__link--current polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">Этапы жизни В.В. Терешковой</span>
                                    </a>
                                    <a class="sub-nav__link polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">Музыка сфер</span>
                                    </a>
                                    <a class="sub-nav__link polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">Календарь космонавтики</span>
                                    </a>
                                    <a class="sub-nav__link polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">Клубные формирования</span>
                                    </a>
                                    <a class="sub-nav__link polygon polygon--trapezoid" href="about.html">
                                        <span class="sub-nav__label">История создания</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="default__content">
                <article class="entry">
                    <h1 class="entry__heading">
                        Этапы жизни В.В. Терешковой
                    </h1>
                    <a class="entry__preview" href="#"><!-- Можно сделать ссылкой на Photo Swipe, можно div`ом -->
                        <img class="entry__feature-image"
                             srcset="
                                        ../temp/about/about-a@3x.jpg 3x,
                                        ../temp/about/about-a@2x.jpg 2x,
                                        ../temp/about/about-a@1.5x.jpg 1.5x,
                                        ../temp/about/about-a@1x.jpg 1x
                                     "
                             src="../temp/about/about-a@1x.jpg"
                             width="446"
                             height="659"
                             alt=""
                        >
                    </a>
                    <div class="entry__text wysiwyg">
                        <p>Терешкова Валентина Владимировна — первая в мире женщина-космонавт, Герой Советского Союза, генерал-майор, депутат Верховного Совета СССР и Государственной Думы РФ.</p>
                        <h2>Ранние годы</h2>
                        <p>Валентина Терешкова родилась 6 марта 1937 в крестьянской семье в ныне несуществующей деревне Большое Масленниково недалеко от города Тутаева Ярославской области.</p>
                        <p>Отец — Терешков Владимир Аксёнович (1912-1940), родом из деревни Выйлово Белыничского района Могилёвской области, тракторист. Был призван в Красную армию в 1939 году, погиб на советско-финской войне. Мать — Терешкова (урождённая Круглова) Елена Фёдоровна (1913-1987), из деревни Еремеевщина Дубровенского района. В семье также были старшая сестра Людмила и младший брат Владимир.</p>
                        <p>После окончания Великой Отечественной войны, когда Елена Фёдоровна с детьми переехала в Ярославль, Валентина поступила в среднюю школу № 32 (ныне носит имя Терешковой).</p>
                        <p>Семь классов окончила в 1953 году. В 1954 пошла работать на Ярославский шинный завод. Одновременно училась в вечерних классах школы рабочей молодёжи. С апреля 1955 года семь лет работала ткачихой на комбинате технических тканей «Красный перекоп», где также трудились её мама и старшая сестра, заочно училась в техникуме лёгкой промышленности. С 1959 года занималась парашютным спортом в Ярославском аэроклубе (выполнила 90 прыжков). С августа 1960 года — освобождённый секретарь комитета ВЛКСМ комбината «Красный Перекоп». С марта 1962 года — член КПСС.</p>
                        <div class="gallery">

                        </div>
                        <h2>Карьера</h2>
                        <p>Лётчик-космонавт СССР № 6, 10-й космонавт мира, единственная в мире женщина, совершившая космический полёт в одиночку, Валентина Владимировна Терешкова 12 марта 1962 года была зачислена для обучения в отряд космонавтов, а уже в ноябре 1962 года сдала выпускные экзамены на «отлично». С декабря 1962 года В.В.Терешкова — космонавт 1-го отряда 1-го отдела.</p>
                        <p>16 июня 1963 года на космическом корабле «Восток-6» Валентина Терешкова совершила свой первый полёт — первый в мире космический полёт женщины-космонавта, который продолжался почти трое суток.</p>
                        <p>Одновременно на орбите находился космический корабль «Восток-5», пилотируемый космонавтом Валерием Быковским. Позывной Терешковой на время полёта — «Чайка». Фраза, которую она произнесла перед стартом: «Эй! Небо! Сними шляпу!» — изменённая цитата из поэмы В. Маяковского «Облако в штанах». Спускаемый аппарат «Востока-6» благополучно приземлился в Баевском районе Алтайского края.</p>
                        <p>С 1963 по 1966 год Валентина Владимировна Терешкова — инструктор-космонавт 1-го отряда. С 1969 по 1997— инструктор-космонавт отряда космонавтов 1-го отдела 1-го управления группы орбитальных кораблей и станций, инструктор-космонавт-испытатель группы орбитальных пилотируемых комплексов общего и специального назначения, 1-й группы отряда космонавтов.</p>
                        <p>С 1997 года она — старший научный сотрудник Центра подготовки космонавтов.</p>
                        <p>После выполнения космического полёта В. В. Терешкова поступила в Военно-воздушную инженерную академию им. Н. Е. Жуковского и, окончив её с отличием, позднее стала кандидатом технических наук, профессором, автором более 50 научных работ.</p>
                        <p>Воинские звания: декабрь 1962 — младший лейтенант, июнь 1963 — лейтенант, июнь 1963 — капитан, январь 1965 — майор, октябрь 1967 — подполковник, апрель 1970 — инженер-полковник, с 1975 года — полковник-инженер, 1995 — генерал-майор. С 30 апреля 1997 года в отставке.</p>
                        <p>Валентина Владимировна Терешкова — первая в истории Российской армии женщина-генерал.</p>

                        <p>Сразу после полёта Терешкова В. В. активно занялась общественной деятельностью. Она представляла СССР во многих странах мира, избиралась на ответственные посты:</p>
                        <p>1966—1989 — депутат Верховного Совета СССР VII—XI созывов.</p>
                        <p>1968—1987 — председатель Комитета советских женщин.</p>
                        <p>1969 — вице-президент Международной демократической федерации женщин, член Всемирного Совета Мира.</p>
                        <p>1971—1990 — член ЦК КПСС. Делегат XXIV, XXV, XXVI и XXVII съездов КПСС.</p>
                        <p>1974—1989 — член Президиума Верховного Совета СССР.</p>
                        <p>1987—1992 — председатель Президиума Союза советских обществ дружбы и культурных связей с зарубежными странами.</p>
                        <p>1989—1992 — народный депутат СССР от Союза советских обществ дружбы и культурных связей с зарубежными странами и общества «Родина».</p>
                        <p>1992 — председатель президиума Российской ассоциации международного сотрудничества.</p>
                        <p>1992—1995 — первый заместитель председателя Российского агентства международного сотрудничества и развития.</p>
                        <p>1994—2004 — руководитель Российского центра международного научного и культурного сотрудничества.</p>
                        <p>2008—2011 — депутат Ярославской областной Думы от партии «Единая Россия», заместитель председателя Думы.</p>

                        <p>В 2011 избрана депутатом Государственной думы России 6-го созыва от партии «Единая Россия» по ярославскому региональному списку, заместитель председателя комитета Госдумы по международным делам.</p>
                        <p>В 2016 избрана депутатом Государственной думы России 7-го созыва от партии «Единая Россия» по ярославскому региональному списку.</p>
                        <p>Член Высшего совета «Единой России».</p>
                        <p>При содействии и участии Терешковой в Ярославле открыт университет, построены новое здание техникума лёгкой промышленности, речной вокзал, планетарий, благоустроена набережная Волги. Она постоянно оказывает помощь родной школе и подшефным детским домам Ярославской области.</p>
                        <p>С 2015 года — президент некоммерческого благотворительного фонда «Память поколений».</p>
                        <p>В.В. Терешкова — Почётный гражданин Ярославской области и городов: Ярославль, Тутаев, Мышкин, Калуга, Щёлково (Россия), Караганда, Байконур (до 1995 — Ленинск, Казахстан, 1977), Гюмри (до 1990 — Ленинакан, Армения, 1965), Витебск (Белоруссия, 1975), Монтрё и Дранси (Франция), Монтгомери (Великобритания), Полицци-Дженероза (Италия), Дархан (Монголия, 1965), София, Бургас, Петрич, Стара-Загора, Плевен, Варна (Болгария, 1963), Братислава (Словакия, 1963).</p>
                        <p>В.В. Терешковой присвоен титул «Величайшая женщина XX столетия».</p>

                        <h2>Награды России и СССР:</h2>

                        <p>Герой Советского Союза (22 июня 1963);орден «За заслуги перед Отечеством» I степени (3 марта 2017);орден «За заслуги перед Отечеством» II степени (6 марта 2007);орден «За заслуги перед Отечеством» III степени (6 марта 1997);орден Александра Невского (12 июня 2013 года);орден Почёта (10 июня 2003);орден Дружбы (12 апреля 2011 года);два ордена Ленина (22 июня 1963 и 6 мая 1981);орден Октябрьской Революции (1 декабря 1971);орден Трудового Красного Знамени (5 марта 1987);</p>
                        <p>звание лётчик-космонавт СССР;</p>
                        <p>Государственная премия Российской Федерации за выдающиеся достижения в области гуманитарной деятельности 2008 года (4 июня 2009 года);</p>
                        <p>медали;</p>
                        <p>медаль «За труды во благо земли Ярославской».</p>
                        <p>Почётная грамота Президента Российской Федерации (3 марта 2012);Благодарность Президента Российской Федерации (2 марта 2000);Благодарность Президента Российской Федерации (9 апреля 1996);</p>
                        <p>Почётная грамота Правительства Российской Федерации (16 июня 2008);Почётная грамота Правительства Российской Федерации (12 июня 2003);Почётная грамота Правительства Российской Федерации (3 марта 1997);Благодарность Правительства Российской Федерации (6 марта 2002).</p>

                        <h2>Иностранные награды:</h2>
                        <ul>
                            <li>Медаль «Золотая Звезда» Героя Социалистического Труда ЧССР;</li>
                            <li>орден Клемента Готвальда (август 1963)</li>
                            <li>медаль «Золотая Звезда» Героя Социалистического Труда НРБ</li>
                            <li>орден Георгия Димитрова (9 сентября 1963)</li>
                            <li>орден Карла Маркса и медаль Беккера (октябрь 1963, ГДР)</li>
                            <li>Крест Грюнвальда I степени (октябрь 1963, ПНР</li>
                            <li>орден Тришакти Патта I степени (ноябрь 1963, Непал)</li>
                            <li>орден Звезды Республики Индонезия II степени (ноябрь 1963)</li>
                            <li>орден Вольты (январь 1964, Гана)</li>
                            <li>орден Государственного Знамени ВНР (апрель 1965)</li>
                            <li>медаль «Золотой Соёмб» Героя труда МНР и орден Сухэ-Батора (май 1965, МНР)</li>
                            <li>орден Культуры 1 степени (август 1969, Афганистан)</li>
                            <li>большая лента ордена Звезды Иордании (декабрь 1969, Иордания)</li>
                            <li>орден «За гражданские заслуги» (Сирия)</li>
                            <li>орден «Ожерелье Нила» (январь 1971, ОАР)</li>
                            <li>медаль «Золотая Звезда» Героя Труда Вьетнама (октябрь 1971)</li>
                            <li>орден Бернардо О’Хиггинса и Золотой знак ВВС (март 1972, Чили)</li>
                            <li>орден Югославского флага 1 степени (ноябрь 1972)</li>
                            <li>орден «За достижения в науке» (17 ноября 1973, СРР)</li>
                            <li>орден Солнца (1974, Перу)</li>
                            <li>орден Плайя-Хирон и орден «Ана Бетанкур» (1974, Куба)</li>
                            <li>медаль «За укрепление братства по оружию» (1976, НРБ)</li>
                            <li>орден Дружбы (1997, Лаос)</li>
                            <li>орден князя Бранимира с большой лентой (17 февраля 2003, Хорватия).</li>
                        </ul>
                        <h2>Награды научных, общественных и религиозных организаций:</h2>
                        <ul>
                            <li>олотая медаль имени К. Э. Циолковского АН СССР;золотая медаль Британского общества межпланетных сообщений «За успехи в освоении космоса» (февраль 1964, Великобритания)</li>
                            <li>золотая медаль «Космос» (ФАИ)</li>
                            <li>премия Галамбера по астронавтике</li>
                            <li>золотая медаль Мира имени Жолио-Кюри (1964, Франция)</li>
                            <li>орден «Роза ветров» Международного комитета по аэронавтике и космическим полётам</li>
                            <li>«Золотая мимоза» итальянского Союза женщин (1963)</li>
                            <li>знак ЦК ВЛКСМ «За активную работу в комсомоле» (1963)</li>
                            <li>золотая медаль ВДНХ (28 июня 1963)</li>
                            <li>почётный знак ДОСААФ СССР (1 июля 1963)</li>
                            <li>премия общественного признания достижений женщин «Олимпия» (2003)</li>
                            <li>Национальная премия «Россиянин года» в номинации «Легенда России» (2004)</li>
                            <li>орден преподобного Серафима Саровского II степени (РПЦ; 2007)</li>
                            <li>орден преподобной Евфросинии, великой княгини Московской II степени (РПЦ; 2008)</li>
                            <li>орден Славы и Чести I степени (РПЦ; 6 марта 2012)</li>
                            <li>императорский орден Святой Великомученицы Анастасии (12 июля 2013 года, Российский императорский дом).</li>
                        </ul>
                        <h2>Именем В. В. Терешковой названы:</h2>
                        <ul>
                            <li>кратер на Луне</li>
                            <li>малая планета 1671 Chaika (по её позывному — «Чайка»)</li>
                            <li>улицы в разных городах, в том числе в Ярославле, Тутаеве, Одессе, Улан-Удэ, Новосибирске, Красноярске, Костроме, Кемерово, Ульяновске, Оренбурге, Балахне, Липецке, Иркутске, Новочебоксарске, Витебске, проспект в Гудермесе, площадь в Твери, набережная в Евпатории</li>
                            <li>школы: в Ярославле (в которой она училась), в Новочебоксарске, в Караганде и в городе Есик (Алматинская область)</li>
                            <li>музей «Космос» (недалеко от её деревни) и Культурно-просветительский центр имени В.В.Терешковой (планетарий) в Ярославле</li>
                        </ul>
                        <p>Установлено два памятника Терешковой: на Аллее космонавтов в Москве и в Баевском районе Алтайского края, на территории которого она приземлилась.</p>
                        <p>В 1983 году была выпущена памятная монета с изображением В. Терешковой. Таким образом, Валентина Терешкова стала единственным советским гражданином, чей портрет был при жизни помещён на советскую монету.</p>
                    </div>
                </article>
            </div>

        </div>


        <!-- .mfp -->
        <div class="window mfp-hide" id="login">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>

    </body>
</html>
