<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Астроблог</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328e-05" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="#">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Новости</span>
            </span>
        </div>

        <div class="blog container">
            <h1 class="blog__heading">
                Астроблог
            </h1>
            <div class="blog__body">
                <div class="blog__sidebar">
                    <div class="sticky">
                        <div class="sub-nav">
                            <button class="sub-nav__handler" type="button">
                                Все анонсы
                            </button>
                            <div class="sub-nav__dropdown">
                                <div class="sub-nav__section">
                                    <b class="sub-nav__heading">
                                        Космонавтика
                                    </b>
                                    <div class="sub-nav__list">
                                        <a class="sub-nav__link sub-nav__link--current polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Этапы жизни В.В. Терешковой</span>
                                        </a>
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Календарь косманавтики</span>
                                        </a>
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Космические события</span>
                                        </a>
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Вопросы по космонавтике</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="sub-nav__section">
                                    <b class="sub-nav__heading">
                                        Астрономия
                                    </b>
                                    <div class="sub-nav__list">
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Астрономический календарь</span>
                                        </a>
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Астрособытия</span>
                                        </a>
                                        <a class="sub-nav__link polygon polygon--trapezoid" href="#">
                                            <span class="sub-nav__label">Вопросы по астрономии</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-nav__addition-action">
                                <a class="button button--primary polygon polygon--trapezoid" href="#">Задать вопрос</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__content">
                    <div class="blog__list">
                        <article class="panel panel--portrait">
                            <a class="panel__body polygon polygon--card" href="#">
                                <div class="panel__slot">

                                    <!-- Дочерний компонент -->
                                    <article class="publication">
                                        <div class="publication__stage">
                                            <div class="publication__preview">
                                                <img class="publication__image"
                                                     srcset="
                                                        ../temp/publications/publication-a@3x.jpg 3x,
                                                        ../temp/publications/publication-a@2x.jpg 2x,
                                                        ../temp/publications/publication-a@1.5x.jpg 1.5x,
                                                        ../temp/publications/publication-a@1x.jpg 1x
                                                     "
                                                     src="../temp/publications/publication-a@1x.jpg"
                                                     width="446"
                                                     height="250"
                                                     alt=""
                                                >
                                            </div>
                                        </div>
                                        <div class="publication__body">
                                            <div class="publication__content">
                                                <div class="publication__favorites" title="Закреплено">
                                                    <svg class="publication__pin" width="21" height="26" viewBox="0 0 21 26" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.07 14.143l2.895-5.41 1.917 1.195 1.158-2.164L8.537.597 7.379 2.761l1.917 1.195-2.895 5.41c-.96 1.795-3.021 2.445-4.613 1.454L.63 12.982l5.723 3.566L2.3 24.122l.38 1.68 1.538-.485 4.053-7.574 5.78 3.602 1.158-2.164c-1.591-.992-2.1-3.242-1.139-5.038z"/>
                                                    </svg>
                                                </div>
                                                <div class="publication__pre-header">
                                                    Этапы жизни В.В. Терешковой
                                                </div>
                                                <h2 class="publication__header">
                                                    Ранние годы
                                                </h2>
                                                <div class="publication__text clamping clamping--3-rows">
                                                    3 ноября 2023 года уже по сложившейся хорошей традиции в Культурно-просветительском центре имени В.В. Терешковой состоялась Всероссийскаяакция «Ночь искусств-2023».В рамках Всероссийской акции в Звёздном зале гости Центра увидели двакрасочных полнокупольных фильма: «Мир народов майя» и «Под звёзднымнебом Ярославля» + «Путешествия со скоростью света».
                                                </div>
                                            </div>
                                            <time class="publication__time" datetime="2023-12-31T23:59Z">
                                                31/12/2023
                                            </time>
                                        </div>
                                    </article>
                                    <!--/Дочерний компонент -->

                                </div>
                                <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                                <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                            </a>
                            <div class="panel__action">
                                <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                    <span class="button__label">Читать</span>
                                    <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <article class="panel panel--portrait">
                            <a class="panel__body polygon polygon--card" href="#">
                                <div class="panel__slot">

                                    <!-- Дочерний компонент -->
                                    <article class="publication">
                                        <div class="publication__stage">
                                            <div class="publication__preview">
                                                <img class="publication__image"
                                                     srcset="
                                                        ../temp/publications/publication-a@3x.jpg 3x,
                                                        ../temp/publications/publication-a@2x.jpg 2x,
                                                        ../temp/publications/publication-a@1.5x.jpg 1.5x,
                                                        ../temp/publications/publication-a@1x.jpg 1x
                                                     "
                                                     src="../temp/publications/publication-a@1x.jpg"
                                                     width="446"
                                                     height="250"
                                                     alt=""
                                                >
                                            </div>
                                        </div>
                                        <div class="publication__body">
                                            <div class="publication__content">
                                                <div class="publication__favorites" title="Закреплено">
                                                    <svg class="publication__pin" width="21" height="26" viewBox="0 0 21 26" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.07 14.143l2.895-5.41 1.917 1.195 1.158-2.164L8.537.597 7.379 2.761l1.917 1.195-2.895 5.41c-.96 1.795-3.021 2.445-4.613 1.454L.63 12.982l5.723 3.566L2.3 24.122l.38 1.68 1.538-.485 4.053-7.574 5.78 3.602 1.158-2.164c-1.591-.992-2.1-3.242-1.139-5.038z"/>
                                                    </svg>
                                                </div>
                                                <div class="publication__pre-header">
                                                    Этапы жизни В.В. Терешковой
                                                </div>
                                                <h2 class="publication__header">
                                                    Полет в космос
                                                </h2>
                                                <div class="publication__text clamping clamping--3-rows">
                                                    Лётчик-космонавт СССР № 6, 10-й космонавт мира, единственная в мире женщина, совершившая космический полёт в одиночку, Валентина Владимировна Терешкова 12 марта 1962 года была зачислена для обучения в отряд космонавтов
                                                </div>
                                            </div>
                                            <time class="publication__time" datetime="2023-12-31T23:59Z">
                                                31/12/2023
                                            </time>
                                        </div>
                                    </article>
                                    <!--/Дочерний компонент -->

                                </div>
                                <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                                <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                            </a>
                            <div class="panel__action">
                                <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                    <span class="button__label">Читать</span>
                                    <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <article class="panel panel--portrait">
                            <a class="panel__body polygon polygon--card" href="#">
                                <div class="panel__slot">

                                    <!-- Дочерний компонент -->
                                    <article class="publication">
                                        <div class="publication__stage">
                                            <div class="publication__preview">
                                                <img class="publication__image"
                                                     srcset="
                                                        ../temp/publications/publication-b@3x.jpg 3x,
                                                        ../temp/publications/publication-b@2x.jpg 2x,
                                                        ../temp/publications/publication-b@1.5x.jpg 1.5x,
                                                        ../temp/publications/publication-b@1x.jpg 1x
                                                     "
                                                     src="../temp/publications/publication-b@1x.jpg"
                                                     width="446"
                                                     height="250"
                                                     alt=""
                                                >
                                            </div>
                                        </div>
                                        <div class="publication__body">
                                            <div class="publication__content">
                                                <div class="publication__favorites" title="Закреплено">
                                                    <svg class="publication__pin" width="21" height="26" viewBox="0 0 21 26" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.07 14.143l2.895-5.41 1.917 1.195 1.158-2.164L8.537.597 7.379 2.761l1.917 1.195-2.895 5.41c-.96 1.795-3.021 2.445-4.613 1.454L.63 12.982l5.723 3.566L2.3 24.122l.38 1.68 1.538-.485 4.053-7.574 5.78 3.602 1.158-2.164c-1.591-.992-2.1-3.242-1.139-5.038z"/>
                                                    </svg>
                                                </div>
                                                <div class="publication__pre-header">
                                                    Космические события
                                                </div>
                                                <h2 class="publication__header">
                                                    Старлинк: как увидеть спутники Илона Маска в небе?
                                                </h2>
                                                <div class="publication__text clamping clamping--3-rows">
                                                    Вы когда-нибудь видели движущуюся цепочку из ярких точек на ночном небе? Летящие по небу спутники Starlink выглядят потрясающе — они похожи на “поезд” из огоньков. Из этой статьи вы узнаете, что такое спутники Starlink и как увидеть их из вашего местоположения.
                                                </div>
                                            </div>
                                            <time class="publication__time" datetime="2023-12-31T23:59Z">
                                                31/12/2023
                                            </time>
                                        </div>
                                    </article>
                                    <!--/Дочерний компонент -->

                                </div>
                                <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                                <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                            </a>
                            <div class="panel__action">
                                <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                    <span class="button__label">Читать</span>
                                    <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <article class="panel panel--portrait">
                            <a class="panel__body polygon polygon--card" href="#">
                                <div class="panel__slot">

                                    <!-- Дочерний компонент -->
                                    <article class="publication">
                                        <div class="publication__stage">
                                            <div class="publication__preview">
                                                <img class="publication__image"
                                                     srcset="
                                                        ../temp/publications/publication-c@3x.jpg 3x,
                                                        ../temp/publications/publication-c@2x.jpg 2x,
                                                        ../temp/publications/publication-c@1.5x.jpg 1.5x,
                                                        ../temp/publications/publication-c@1x.jpg 1x
                                                     "
                                                     src="../temp/publications/publication-c@1x.jpg"
                                                     width="446"
                                                     height="250"
                                                     alt=""
                                                >
                                            </div>
                                        </div>
                                        <div class="publication__body">
                                            <div class="publication__content">
                                                <div class="publication__favorites" title="Закреплено">
                                                    <svg class="publication__pin" width="21" height="26" viewBox="0 0 21 26" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.07 14.143l2.895-5.41 1.917 1.195 1.158-2.164L8.537.597 7.379 2.761l1.917 1.195-2.895 5.41c-.96 1.795-3.021 2.445-4.613 1.454L.63 12.982l5.723 3.566L2.3 24.122l.38 1.68 1.538-.485 4.053-7.574 5.78 3.602 1.158-2.164c-1.591-.992-2.1-3.242-1.139-5.038z"/>
                                                    </svg>
                                                </div>
                                                <div class="publication__pre-header">
                                                    Астрособытия
                                                </div>
                                                <h2 class="publication__header">
                                                    Звездопад декабря - Геминиды 2023
                                                </h2>
                                                <div class="publication__text clamping clamping--3-rows">
                                                    В ночь с 13 на 14 декабря ожидается красивый и мощный звездопад года из созвездия Близнецы. Прогнозируется 150 метеоров в час! Геминиды можно наблюдать всю ночь над южным горизонтом. При ясной погоде яркие метеоры будут видны на всей территории России. В 2023 году условия наблюдения Геминид – благоприятны. Луна близка к новолунию (12.12.2023) и не помешает наблюдению метеоров.
                                                </div>
                                            </div>
                                            <time class="publication__time" datetime="2023-12-31T23:59Z">
                                                31/12/2023
                                            </time>
                                        </div>
                                    </article>
                                    <!--/Дочерний компонент -->

                                </div>
                                <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                                <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                            </a>
                            <div class="panel__action">
                                <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                    <span class="button__label">Читать</span>
                                    <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <article class="panel panel--portrait">
                            <a class="panel__body polygon polygon--card" href="#">
                                <div class="panel__slot">

                                    <!-- Дочерний компонент -->
                                    <article class="publication">
                                        <div class="publication__stage">
                                            <div class="publication__preview">
                                                <img class="publication__image"
                                                     srcset="
                                                        ../temp/publications/publication-d@3x.jpg 3x,
                                                        ../temp/publications/publication-d@2x.jpg 2x,
                                                        ../temp/publications/publication-d@1.5x.jpg 1.5x,
                                                        ../temp/publications/publication-d@1x.jpg 1x
                                                     "
                                                     src="../temp/publications/publication-d@1x.jpg"
                                                     width="446"
                                                     height="250"
                                                     alt=""
                                                >
                                            </div>
                                        </div>
                                        <div class="publication__body">
                                            <div class="publication__content">
                                                <div class="publication__favorites" title="Закреплено">
                                                    <svg class="publication__pin" width="21" height="26" viewBox="0 0 21 26" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.07 14.143l2.895-5.41 1.917 1.195 1.158-2.164L8.537.597 7.379 2.761l1.917 1.195-2.895 5.41c-.96 1.795-3.021 2.445-4.613 1.454L.63 12.982l5.723 3.566L2.3 24.122l.38 1.68 1.538-.485 4.053-7.574 5.78 3.602 1.158-2.164c-1.591-.992-2.1-3.242-1.139-5.038z"/>
                                                    </svg>
                                                </div>
                                                <div class="publication__pre-header">
                                                    Астрособытия
                                                </div>
                                                <h2 class="publication__header">
                                                    Звездопад декабря - Геминиды 2023
                                                </h2>
                                                <div class="publication__text clamping clamping--3-rows">
                                                    В ночь с 13 на 14 декабря ожидается красивый и мощный звездопад года из созвездия Близнецы. Прогнозируется 150 метеоров в час! Геминиды можно наблюдать всю ночь над южным горизонтом. При ясной погоде яркие метеоры будут видны на всей территории России. В 2023 году условия наблюдения Геминид – благоприятны. Луна близка к новолунию (12.12.2023) и не помешает наблюдению метеоров.
                                                </div>
                                            </div>
                                            <time class="publication__time" datetime="2023-12-31T23:59Z">
                                                31/12/2023
                                            </time>
                                        </div>
                                    </article>
                                    <!--/Дочерний компонент -->

                                </div>
                                <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                                <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                                <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                            </a>
                            <div class="panel__action">
                                <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                    <span class="button__label">Читать</span>
                                    <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="blog__pagination">
                        <div class="pagination hide-scrollbar">
                            <div class="pagination__ribbon">
                                <a class="pagination__item pagination__item--nav polygon polygon--trapezoid" href="#">
                                    <svg class="pagination__arrow" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m10 13.772-10-5.774 10-5.773v4.774h14v2h-14z"/>
                                    </svg>
                                </a>
                                <a class="pagination__item polygon polygon--trapezoid" href="#">
                                    <span class="pagination__label">01</span>
                                </a>
                                <a class="pagination__item polygon polygon--trapezoid" href="#">
                                    <span class="pagination__label">02</span>
                                </a>
                                <a class="pagination__item polygon polygon--trapezoid" href="#">
                                    <span class="pagination__label">03</span>
                                </a>
                                <div class="pagination__item pagination__item--separator">
                                    <span class="pagination__label">...</span>
                                </div>
                                <a class="pagination__item polygon polygon--trapezoid" href="#">
                                    <span class="pagination__label">17</span>
                                </a>
                                <a class="pagination__item pagination__item--nav polygon polygon--trapezoid" href="#">
                                    <svg class="pagination__arrow" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 2.225l10 5.774-10 5.773V8.998H0v-2h14V2.226z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>


        <!-- .mfp -->
        <div class="window mfp-hide" id="login">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>

    </body>
</html>
