<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Документы</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Документы</span>
            </span>
        </div>

        <div class="docs container">
            <h1 class="docs__heading">
                Документы
            </h1>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Уставные документы
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Устав организации
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Политика в отношении обработки персональных данных
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Положение о условиях оплаты труда и порядке формирования фонда оплаты труда работников
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Приказ об установлении цен на предоставляемые услуги с 9 января 2023 года.
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Государственное задание 2023 год
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Лист записи Единого государственного реестра юридических лиц
                        </span>
                    </a>
                </div>
            </section>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Противодействие коррупции
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Антикорупционная политика
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            План мероприятий по противодействию коррупции 2021
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Положение о условиях оплаты труда и порядке формирования фонда оплаты труда работников
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Приказ об установлении цен на предоставляемые услуги с 9 января 2023 года.
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Государственное задание 2023 год
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Лист записи Единого государственного реестра юридических лиц
                        </span>
                    </a>
                </div>
            </section>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Иные документы
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Правила посещения порядок оказания услуг
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <svg class="docs__icon" width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 15.5H12V14.5H4V15.5ZM4 11.5H12V10.5H4V11.5ZM2 20C1.45 20 0.979167 19.8042 0.5875 19.4125C0.195833 19.0208 0 18.55 0 18V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H11L16 5V18C16 18.55 15.8042 19.0208 15.4125 19.4125C15.0208 19.8042 14.55 20 14 20H2ZM11 6C10.4477 6 10 5.55228 10 5V1H2C1.44772 1 1 1.44772 1 2V18C1 18.5523 1.44772 19 2 19H14C14.5523 19 15 18.5523 15 18V6H11Z"/>
                        </svg>
                        <span class="docs__label">
                            Пользовательское соглашение от 26.10.2020
                        </span>
                    </a>
                </div>
            </section>
        </div>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>

    </body>
</html>
