<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Документы</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#14131E">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Документы</span>
            </span>
        </div>

        <div class="docs container">
            <h1 class="docs__heading">
                Документы
            </h1>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Уставные документы
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Устав организации
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Политика в отношении обработки персональных данных
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Положение о условиях оплаты труда и порядке формирования фонда оплаты труда работников
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Приказ об установлении цен на предоставляемые услуги с 9 января 2023 года.
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Государственное задание 2023 год
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Лист записи Единого государственного реестра юридических лиц
                        </span>
                    </a>
                </div>
            </section>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Противодействие коррупции
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Антикорупционная политика
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            План мероприятий по противодействию коррупции 2021
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Положение о условиях оплаты труда и порядке формирования фонда оплаты труда работников
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Приказ об установлении цен на предоставляемые услуги с 9 января 2023 года.
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Государственное задание 2023 год
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Лист записи Единого государственного реестра юридических лиц
                        </span>
                    </a>
                </div>
            </section>
            <section class="docs__section">
                <h2 class="docs__sub-heading">
                    Иные документы
                </h2>
                <div class="docs__list">
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Правила посещения порядок оказания услуг
                        </span>
                    </a>
                    <a class="docs__link polygon polygon--trapezoid" href="#">
                        <span class="docs__label">
                            Пользовательское соглашение от 26.10.2020
                        </span>
                    </a>
                </div>
            </section>
        </div>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_nav.js"></script>
        <script src="../scripts/_page-scrolled.js"></script>

    </body>
</html>
