<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Планетарий: взгляд сквозь десятилетия</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <a class="link link--white" href="events.html">События</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Планетарий: взгляд сквозь десятилетия</span>
            </span>
        </div>

        <article class="project container">
            <time class="project__time" datetime="2023-12-31T23:59Z"><!-- дата только на страницах Ивентов -->
                <a class="link link--fake" name="fake-link">31 декабря 2023, 23:59</a>
            </time>
            <h1 class="project__heading">
                Планетарий: взгляд сквозь десятилетия
            </h1>
            <div class="project__category">
                Ретро-лекция
            </div>
            <div class="project__body">
                <div class="project__stage">
                    <a class="preview" href="#">
                        <img class="preview__image"
                             srcset="
                            ../temp/shows/event-a@3x.jpg 3x,
                            ../temp/shows/event-a@2x.jpg 2x,
                            ../temp/shows/event-a@1.5x.jpg 1.5x,
                            ../temp/shows/event-a@1x.jpg 1x
                         "
                             src="../temp/shows/event-a@1x.jpg"
                             width="450"
                             height="424"
                             alt=""
                        >
                    </a>
                </div>
                <div class="project__content">
                    <div class="project__text wysiwyg">
                        <p>В 2023 году исполняется 75 лет со дня открытия первого планетария в Ярославле. Центр имени В.В. Терешковой является преемником этогопланетария и поддерживает традиции астрономического просвещенияжителей нашей области и её гостей. В памятную дату юбилея планетариев вЯрославле, в звездном зале Центра будет проведена ретро-лекция,сопровождаемая диапроекцией винтажных слайдов о космическихдостопримечательностях: скоплениях и туманностях. Подобные слайд-шоуиспользовались для астрономических лекций до использования современныхполнокупольных проекторных систем. Звёздное небо будет проецироватьоптико-механический аппарат ZEISS ZKP 4. В стенах нового планетария мыпочувствуем себя посетителями первого звёздного дома Ярославля.</p>
                        <p>С использованием оптико-механического аппарата ZEISS ZKP 4, звёздное небо превратится в волшебное киноживописное шоу. Невероятные кластеры и туманности оживут на огромном экране, словно засияют в своей первозданной красоте. Этот аппарат, ставший символом истории планетариев, подарит зрителям неповторимый опыт наблюдения за небесными явлениями, точно так же, как это делали посетители первого звёздного дома Ярославля 75 лет назад.</p>
                    </div>
                    <div class="project__summary">
                        <div class="stat stat--larger stat--location">Звездный зал</div>
                        <div class="stat stat--larger stat--duration">45 минут</div>
                        <div class="stat stat--larger stat--restriction">12+</div>
                        <div class="stat stat--larger stat--pushkin-card">Пушкинская карта</div>
                    </div>
                </div>
            </div>
            <div class="project__schedule">
                <h2 class="project__sub-heading">
                    Ближайшие показы
                </h2>
                <div class="project__calendar hide-scrollbar">
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section class="related related--portfolio container">
            <h2 class="related__heading">
                Другие события
            </h2>
            <div class="related__list">
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/event-b@3x.jpg 3x,
                                ../temp/shows/event-b@2x.jpg 2x,
                                ../temp/shows/event-b@1.5x.jpg 1.5x,
                                ../temp/shows/event-b@1x.jpg 1x
                             "
                                 src="../temp/shows/event-b@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            12+
                        </div>
                        <div class="show__pre-header">
                            фестиваль “Ночь искусств 2023”
                        </div>
                        <h2 class="show__header">
                            Взгляд в будущее: сквозь время и пространство
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <time datetime="2023-12-31T23:59Z"><!-- дата или зал, в зависимости от карточки -->
                                <a class="link link--fake" name="fake-link">31 декабря 2023, 23:59</a>
                            </time>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/event-c@3x.jpg 3x,
                                ../temp/shows/event-c@2x.jpg 2x,
                                ../temp/shows/event-c@1.5x.jpg 1.5x,
                                ../temp/shows/event-c@1x.jpg 1x
                             "
                                 src="../temp/shows/event-c@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            12+
                        </div>
                        <div class="show__pre-header">
                            полнокупольный концерт
                        </div>
                        <h2 class="show__header">
                            Магия неоклассики
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <time datetime="2023-12-31T23:59Z"><!-- дата или зал, в зависимости от карточки -->
                                <a class="link link--fake" name="fake-link">31 декабря 2023, 23:59</a>
                            </time>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/event-d@3x.jpg 3x,
                                ../temp/shows/event-d@2x.jpg 2x,
                                ../temp/shows/event-d@1.5x.jpg 1.5x,
                                ../temp/shows/event-d@1x.jpg 1x
                             "
                                 src="../temp/shows/event-d@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            12+
                        </div>
                        <div class="show__pre-header">
                            полнокупольное шоу
                        </div>
                        <h2 class="show__header">
                            барабанный космический концерт
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <time datetime="2023-12-31T23:59Z"><!-- дата или зал, в зависимости от карточки -->
                                <a class="link link--fake" name="fake-link">31 декабря 2023, 23:59</a>
                            </time>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>
        <script src="../scripts/_header.js"></script>

    </body>
</html>
