<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Список страниц</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#14131E">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="container" style="padding-top: 100px; padding-bottom: 200px;">
            <h2>Статьи</h2>
            <ul>
                <li><a href="blog.html">blog</a></li>
                <li><a href="blog-item.html">blog-item</a></li>
                <li><a href="news.html">news</a></li>
                <li><a href="news-item.html">news-item</a></li>
                <li><a href="about.html">about</a></li>
            </ul>
            <h2>Контент</h2>
            <ul>
                <li><a href="activities.html">activities</a></li>
                <li><a href="activities-item.html">activities-item</a></li>
                <li><a href="groups.html">groups</a></li>
                <li><a href="groups-item.html">groups-item</a></li>
                <li><a href="schedule.html">schedule</a></li>
                <li><a href="landing.html">landing</a></li>
            </ul>
            <h2>Информация</h2>
            <ul>
                <li><a href="areas.html">areas</a></li>
                <li><a href="areas-item.html">areas-item</a></li>
                <li><a href="areas-map.html">areas-map</a></li>
                <li><a href="docs.html">docs</a></li>
                <li><a href="contacts.html">contacts</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_nav.js"></script>
        <script src="../scripts/_page-scrolled.js"></script>
        <script src="../scripts/_areas.js"></script>
        <script src="../scripts/_submitting.js"></script>

    </body>
</html>
