<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Сетевая интерактивная викторина «Братских народов союз вековой»</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <a class="link link--white" href="news.html">Новости</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Сетевая интерактивная викторина «Братских народов союз вековой»</span>
            </span>
        </div>

        <div class="news container">
            <div class="news__filters">
                <div class="sub-nav sub-nav--horizontal">
                    <button class="sub-nav__handler" type="button">
                        Разделы
                    </button>
                    <div class="sub-nav__dropdown">
                        <div class="sub-nav__section">
                            <div class="sub-nav__list">
                                <a class="sub-nav__link polygon polygon--trapezoid" href="news.html">
                                    <span class="sub-nav__label">Все анонсы</span>
                                </a>
                                <a class="sub-nav__link polygon polygon--trapezoid" href="news.html">
                                    <span class="sub-nav__label">Мероприятия</span>
                                </a>
                                <a class="sub-nav__link polygon polygon--trapezoid" href="news.html">
                                    <span class="sub-nav__label">Конкурсы</span>
                                </a>
                                <a class="sub-nav__link polygon polygon--trapezoid" href="news.html">
                                    <span class="sub-nav__label">Анонсы</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__body">
                <!-- Либо .news__list/.news__pagination на главной блога, либо .news__article на деталке блога: -->
                <div class="news__article">
                    <article class="entry">
                        <div class="entry__summary">
                            <time class="entry__time" datetime="2023-12-31T23:59Z">
                                31 декабря 2023
                            </time>
                            <span class="dot">&nbsp;•&nbsp;</span>
                            Мероприятия
                        </div>
                        <h1 class="entry__heading">
                            Сетевая интерактивная викторина «Братских народов союз вековой»
                        </h1>
                        <a class="entry__preview" href="#"><!-- Можно сделать ссылкой на Photo Swipe, можно div`ом -->
                            <img class="entry__feature-image"
                                 srcset="
                                            ../temp/news/news-a@3x.jpg 3x,
                                            ../temp/news/news-a@2x.jpg 2x,
                                            ../temp/news/news-a@1.5x.jpg 1.5x,
                                            ../temp/news/news-a@1x.jpg 1x
                                         "
                                 src="../temp/news/news-a@1x.jpg"
                                 width="450"
                                 height="250"
                                 alt=""
                            >
                        </a>
                        <div class="entry__text wysiwyg">
                            <p>Вместе с тем, разработки в области радиоастрономии и эксплорации космических волн позволяют ученым проникнуть в более глубокие слои космоса. Это обеспечивает новые данные о черных дырах, туманностях и космических явлениях, которые ранее оставались за гранью нашего понимания. Таким образом, с каждым новым наблюдением мы приближаемся к пониманию самых завораживающих тайн Вселенной.</p>
                            <p>В период с 23 октября по 3 ноября 2023 г. региональное отделениеАссамблеи народов России Тюменской области проходит сетевуюинтерактивную викторину «Братских народов союз вековой», направленнуюна укрепление единства и духовной общности многонационального народаРоссийской Федерации.Реализация настоящей викторины призвана способствовать взаимномуобогащению культур, сохранению этнокультурного многообразия народов,проживающих в Российской Федерации и формированию образа Россиикак страны с историко-культурологической значимостью.Приглашаем принять участие в викторине, задания которой будутразмещены на сетевом информационном портале Ассамблеи народов России.</p>
                            <p>Вместе с тем, разработки в области радиоастрономии и эксплорации космических волн позволяют ученым проникнуть в более глубокие слои космоса. Это обеспечивает новые данные о черных дырах, туманностях и космических явлениях, которые ранее оставались за гранью нашего понимания. Таким образом, с каждым новым наблюдением мы приближаемся к пониманию самых завораживающих тайн Вселенной.</p>
                            <p>В период с 23 октября по 3 ноября 2023 г. региональное отделениеАссамблеи народов России Тюменской области проходит сетевуюинтерактивную викторину «Братских народов союз вековой», направленнуюна укрепление единства и духовной общности многонационального народаРоссийской Федерации.Реализация настоящей викторины призвана способствовать взаимномуобогащению культур, сохранению этнокультурного многообразия народов,проживающих в Российской Федерации и формированию образа Россиикак страны с историко-культурологической значимостью.Приглашаем принять участие в викторине, задания которой будутразмещены на сетевом информационном портале Ассамблеи народов России.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <section class="related related--news container">
            <h2 class="related__heading">
                Другие новости
            </h2>
            <div class="related__list">
                <article class="panel">
                    <a class="panel__body polygon polygon--card" href="news-item.html">
                        <div class="panel__slot">

                            <div class="teaser">
                                <time class="teaser__time" datetime="2023-12-31T23:59Z">
                                    31.12.2023
                                </time>
                                <h2 class="teaser__heading">
                                    «Взгляд в будущее: сквозь время и пространство» в рамках Всероссийской акции «Ночь искусств–2023»
                                </h2>
                                <div class="teaser__text clamping clamping--3-rows">
                                    3 ноября 2023 года уже по сложившейся хорошей традиции в Культурно-просветительском центре имени В.В. Терешковой состоялась Всероссийскаяакция «Ночь искусств-2023».В рамках Всероссийской акции в Звёздном зале гости Центра увидели двакрасочных полнокупольных фильма: «Мир народов майя» и «Под звёзднымнебом Ярославля» + «Путешествия со скоростью света».
                                </div>
                            </div>

                        </div>
                        <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                        <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                    </a>
                    <a class="panel__action button button--secondary polygon polygon--trapezoid" href="news-item.html">
                        <span class="button__label">Подробнее</span>
                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                        </svg>
                    </a>
                </article>
                <article class="panel">
                    <a class="panel__body polygon polygon--card" href="news-item.html">
                        <div class="panel__slot">

                            <div class="teaser">
                                <time class="teaser__time" datetime="2023-12-31T23:59Z">
                                    31.12.2023
                                </time>
                                <h2 class="teaser__heading">
                                    «Взгляд в будущее: сквозь время и пространство» в рамках Всероссийской акции «Ночь искусств–2023»
                                </h2>
                                <div class="teaser__text clamping clamping--3-rows">
                                    3 ноября 2023 года уже по сложившейся хорошей традиции в Культурно-просветительском центре имени В.В. Терешковой состоялась Всероссийскаяакция «Ночь искусств-2023».В рамках Всероссийской акции в Звёздном зале гости Центра увидели двакрасочных полнокупольных фильма: «Мир народов майя» и «Под звёзднымнебом Ярославля» + «Путешествия со скоростью света».
                                </div>
                            </div>

                        </div>
                        <div class="panel__left-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__top-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__bottom-trapezoid" role="presentation" aria-hidden="true"></div>
                        <div class="panel__left-angle" role="presentation" aria-hidden="true"></div>
                        <div class="panel__right-angle" role="presentation" aria-hidden="true"></div>
                    </a>
                    <a class="panel__action button button--secondary polygon polygon--trapezoid" href="news-item.html">
                        <span class="button__label">Подробнее</span>
                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                        </svg>
                    </a>
                </article>
            </div>
        </section>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_nav.js"></script>
        <script src="../scripts/_page-scrolled.js"></script>

    </body>
</html>
