<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Солнце: звезда нашей жизни</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <a class="link link--white" href="programs.html">Программы</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Солнце: звезда нашей жизни</span>
            </span>
        </div>

        <article class="project container">
            <div class="project__category">
                Полнокупольный фильм
            </div>
            <h1 class="project__heading">
                Солнце: звезда нашей жизни
            </h1>
            <div class="project__body">
                <div class="project__stage">
                    <a class="preview" href="#">
                        <img class="preview__image"
                             srcset="
                            ../temp/shows/program-a@3x.jpg 3x,
                            ../temp/shows/program-a@2x.jpg 2x,
                            ../temp/shows/program-a@1.5x.jpg 1.5x,
                            ../temp/shows/program-a@1x.jpg 1x
                         "
                             src="../temp/shows/program-a@1x.jpg"
                             width="450"
                             height="424"
                             alt=""
                        >
                    </a>
                </div>
                <div class="project__content">
                    <div class="project__text wysiwyg">
                        <p>Полнокупольная программа посвящена нашей главной звезде, которая уже 4,5 миллиарда лет согревает Землю. Зрители смогут увидеть, как выглядит наша звезда в различных длинах волн, и узнать, что происходит в недрах Солнца. В программе представлены интересные факты и загадочные явления, связанные с нашим светилом: солнечными затмениями и солнечными пятнами, полярными сияниями и магнитными бурями, солнечной энергией и солнечным ветром. Шоу раскроет все секреты Солнца и позволит вам очутиться на его поверхности в формате полного погружения.</p>
                        <p>В следующем акте наше путешествие в мир Солнца превращается в удивительный подводный мир. Гости программы будут погружены в океан сверкающего света и тепла, представленного в виде рыб и других морских обитателей, символизирующих энергию и жизнь, получаемые от нашей главной звезды.</p>
                    </div>
                    <div class="project__summary">
                        <div class="stat stat--larger stat--location">Звездный зал</div>
                        <div class="stat stat--larger stat--duration">40 минут</div>
                        <div class="stat stat--larger stat--restriction">12+</div>
                        <div class="stat stat--larger stat--pushkin-card">Пушкинская карта</div>
                    </div>
                </div>
            </div>
            <div class="project__schedule">
                <h2 class="project__sub-heading">
                    Ближайшие показы
                </h2>
                <div class="project__calendar hide-scrollbar">
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project__group">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae cum error est facilis fuga ipsam maiores optio, praesentium ullam! Culpa, est minima! Aliquid consequatur debitis deleniti fugiat harum illum repellat vel veniam? Illo, modi, repellat? Ipsam labore mollitia numquam optio. Earum et harum sapiente. A accusantium ad, aperiam atque aut earum est expedita iste, iusto labore modi mollitia obcaecati officiis pariatur quae quibusdam reiciendis repudiandae sapiente sed tempora totam veritatis vitae! Aliquam aliquid, architecto debitis dicta doloremque doloribus laborum non numquam rerum! Cumque et laboriosam quas totam? Ad aliquid expedita minus molestias numquam odio, soluta veniam. Aliquid, officiis, sunt.
            </div>
        </article>
        <div class="related">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad alias assumenda consequuntur deleniti dolor ex ipsa non porro quaerat, quas ratione rem tempora totam veniam, veritatis vero, voluptatibus.
        </div>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>

    </body>
</html>
