<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Программы</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Программы</span>
            </span>
        </div>
        <div class="catalog container">
            <h1 class="portfolio__heading">
                Программы
            </h1>
            <div class="portfolio__filters">
                Фильтры
            </div>
            <div class="catalog__list">
                <div class="catalog__item">
                    <div class="presentation">
                        <div class="presentation__stage">
                            <a class="preview" href="#">
                                <img class="preview__image"
                                    srcset="
                                       ../temp/shows/program-a@3x.jpg 3x,
                                       ../temp/shows/program-a@2x.jpg 2x,
                                       ../temp/shows/program-a@1.5x.jpg 1.5x,
                                       ../temp/shows/program-a@1x.jpg 1x
                                    "
                                    src="../temp/shows/program-a@1x.jpg"
                                    width="450"
                                    height="424"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="presentation__content">
                            <div class="presentation__summary">
                                <h2 class="presentation__heading">
                                    <a class="link link--white" href="programs-item.html">
                                        Солнце: звезда нашей жизни
                                    </a>
                                </h2>
                                <div class="presentation__category">
                                    полнокупольный фильм
                                </div>
                                <div class="presentation__text wysiwyg clamping clamping--4-rows">
                                    <p>Полнокупольная программа посвящена нашей главной звезде, которая уже 4,5 миллиарда лет согревает Землю. Зрители смогут увидеть.</p>
                                    <p>Наша звезда в различных длинах волн, и узнать, что происходит в недрах Солнца. В программе представлены интересные факты и загадочные явления, связанные с нашим светилом: солнечными затмениями и солнечными пятнами, полярными сияниями и магнитными бурями, солнечной энергией и солнечным ветром. Шоу раскроет все секреты Солнца и позволит вам очутиться на его поверхности в формате полного погружения.</p>
                                </div>
                            </div>
                            <div class="presentation__footer">
                                <div class="presentation__stats">
                                    <div class="presentation__location">
                                        <div class="stat stat--altered stat--location">Звездный зал</div>
                                    </div>
                                    <div class="presentation__remaining-stats">
                                        <div class="stat stat--altered stat--duration">40 минут</div>
                                        <div class="stat stat--altered stat--restriction">12+</div>
                                        <div class="stat stat--altered stat--pushkin-card">Пушкинская карта</div>
                                    </div>
                                </div>
                                <div class="presentation__details">
                                    <a class="button button--primary polygon polygon--trapezoid" href="programs-item.html">
                                        <span class="button__label">Подробнее</span>
                                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__item">
                    <div class="presentation">
                        <div class="presentation__stage">
                            <a class="preview" href="#">
                                <img class="preview__image"
                                    srcset="
                                       ../temp/shows/program-b@3x.jpg 3x,
                                       ../temp/shows/program-b@2x.jpg 2x,
                                       ../temp/shows/program-b@1.5x.jpg 1.5x,
                                       ../temp/shows/program-b@1x.jpg 1x
                                    "
                                    src="../temp/shows/program-b@1x.jpg"
                                    width="450"
                                    height="424"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="presentation__content">
                            <div class="presentation__summary">
                                <h2 class="presentation__heading">
                                    <a class="link link--white" href="programs-item.html">
                                        Путешествие к миллиарду Солнц
                                    </a>
                                </h2>
                                <div class="presentation__category">
                                    полнокупольный фильм
                                </div>
                                <div class="presentation__text wysiwyg clamping clamping--4-rows">
                                    <p>Полнокупольная программа посвящена нашей главной звезде, которая уже 4,5 миллиарда лет согревает Землю. Зрители смогут увидеть.</p>
                                    <p>Наша звезда в различных длинах волн, и узнать, что происходит в недрах Солнца. В программе представлены интересные факты и загадочные явления, связанные с нашим светилом: солнечными затмениями и солнечными пятнами, полярными сияниями и магнитными бурями, солнечной энергией и солнечным ветром. Шоу раскроет все секреты Солнца и позволит вам очутиться на его поверхности в формате полного погружения.</p>
                                </div>
                            </div>
                            <div class="presentation__footer">
                                <div class="presentation__stats">
                                    <div class="presentation__location">
                                        <div class="stat stat--altered stat--location">Звездный зал</div>
                                    </div>
                                    <div class="presentation__remaining-stats">
                                        <div class="stat stat--altered stat--duration">40 минут</div>
                                        <div class="stat stat--altered stat--restriction">12+</div>
                                        <div class="stat stat--altered stat--pushkin-card">Пушкинская карта</div>
                                    </div>
                                </div>
                                <div class="presentation__details">
                                    <a class="button button--primary polygon polygon--trapezoid" href="programs-item.html">
                                        <span class="button__label">Подробнее</span>
                                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__item">
                    <div class="presentation">
                        <div class="presentation__stage">
                            <a class="preview" href="#">
                                <img class="preview__image"
                                    srcset="
                                       ../temp/shows/program-c@3x.jpg 3x,
                                       ../temp/shows/program-c@2x.jpg 2x,
                                       ../temp/shows/program-c@1.5x.jpg 1.5x,
                                       ../temp/shows/program-c@1x.jpg 1x
                                    "
                                    src="../temp/shows/program-c@1x.jpg"
                                    width="450"
                                    height="424"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="presentation__content">
                            <div class="presentation__summary">
                                <h2 class="presentation__heading">
                                    <a class="link link--white" href="programs-item.html">
                                        Интерактивная галерея "Экспосфера"
                                    </a>
                                </h2>
                                <div class="presentation__category">
                                    полнокупольный фильм
                                </div>
                                <div class="presentation__text wysiwyg clamping clamping--4-rows">
                                    <p>На галерее Центра открыт для опытов и наблюдений. И дети, и взрослые – каждый может попробовать себя в роли ученого: зажечь лампочку энергией собственных рук, гениально запустить завораживающий каскад мини-молний в плазменном шаре, как выдающийся физик Никола Тесла, или услышать загадочную «музыку сфер», как великий мудрец античности Пифагор, или… Наша интерактивная галерея позволяет выполнить простые задания с использованием интерактивных экспонатов, выяснить принципы их работы, в наглядной и увлекательной форме заново познакомиться с некоторыми законами физики и космическими эффектами, чтобы вновь и вновь открывать для себя законы научной картины мира.</p>
                                </div>
                            </div>
                            <div class="presentation__footer">
                                <div class="presentation__stats">
                                    <div class="presentation__location">
                                        <div class="stat stat--altered stat--location">Звездный зал</div>
                                    </div>
                                    <div class="presentation__remaining-stats">
                                        <div class="stat stat--altered stat--duration">40 минут</div>
                                        <div class="stat stat--altered stat--restriction">12+</div>
                                        <div class="stat stat--altered stat--pushkin-card">Пушкинская карта</div>
                                    </div>
                                </div>
                                <div class="presentation__details">
                                    <a class="button button--primary polygon polygon--trapezoid" href="programs-item.html">
                                        <span class="button__label">Подробнее</span>
                                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__item">
                    <div class="presentation">
                        <div class="presentation__stage">
                            <a class="preview" href="#">
                                <img class="preview__image"
                                    srcset="
                                       ../temp/shows/program-d@3x.jpg 3x,
                                       ../temp/shows/program-d@2x.jpg 2x,
                                       ../temp/shows/program-d@1.5x.jpg 1.5x,
                                       ../temp/shows/program-d@1x.jpg 1x
                                    "
                                    src="../temp/shows/program-d@1x.jpg"
                                    width="450"
                                    height="424"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="presentation__content">
                            <div class="presentation__summary">
                                <h2 class="presentation__heading">
                                    <a class="link link--white" href="programs-item.html">
                                        Земля - планета Солнечной системы
                                    </a>
                                </h2>
                                <div class="presentation__category">
                                    полнокупольный фильм
                                </div>
                                <div class="presentation__text wysiwyg clamping clamping--4-rows">
                                    <p>Во время программы дети совершат космическое путешествие на корабле Транс-Форс и смогут увидеть как выглядит Земля из космоса, побывают на Венере, Марсе. Кроме того данная программа позволяет узнать что находится на обратной стороне Луны. Интерактивный урок для учащихся 1-6 классов.</p>
                                </div>
                            </div>
                            <div class="presentation__footer">
                                <div class="presentation__stats">
                                    <div class="presentation__location">
                                        <div class="stat stat--altered stat--location">Звездный зал</div>
                                    </div>
                                    <div class="presentation__remaining-stats">
                                        <div class="stat stat--altered stat--duration">40 минут</div>
                                        <div class="stat stat--altered stat--restriction">12+</div>
                                        <div class="stat stat--altered stat--pushkin-card">Пушкинская карта</div>
                                    </div>
                                </div>
                                <div class="presentation__details">
                                    <a class="button button--primary polygon polygon--trapezoid" href="programs-item.html">
                                        <span class="button__label">Подробнее</span>
                                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__item">
                    <div class="presentation">
                        <div class="presentation__stage">
                            <a class="preview" href="#">
                                <img class="preview__image"
                                    srcset="
                                       ../temp/shows/program-e@3x.jpg 3x,
                                       ../temp/shows/program-e@2x.jpg 2x,
                                       ../temp/shows/program-e@1.5x.jpg 1.5x,
                                       ../temp/shows/program-e@1x.jpg 1x
                                    "
                                    src="../temp/shows/program-e@1x.jpg"
                                    width="450"
                                    height="424"
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="presentation__content">
                            <div class="presentation__summary">
                                <h2 class="presentation__heading">
                                    <a class="link link--white" href="programs-item.html">
                                        Экспозиционно-выставочный зал "История космонавтики"
                                    </a>
                                </h2>
                                <div class="presentation__category">
                                    полнокупольный фильм
                                </div>
                                <div class="presentation__text wysiwyg clamping clamping--4-rows">
                                    <p>В экспозиционно-выставочном зале представлены яркие страницы истории развития космонавтики от первых искусственных спутников Земли и полёта Ю.А. Гагарина до современных космических кораблей и станций.</p>
                                </div>
                            </div>
                            <div class="presentation__footer">
                                <div class="presentation__stats">
                                    <div class="presentation__location">
                                        <div class="stat stat--altered stat--location">Звездный зал</div>
                                    </div>
                                    <div class="presentation__remaining-stats">
                                        <div class="stat stat--altered stat--duration">40 минут</div>
                                        <div class="stat stat--altered stat--restriction">12+</div>
                                        <div class="stat stat--altered stat--pushkin-card">Пушкинская карта</div>
                                    </div>
                                </div>
                                <div class="presentation__details">
                                    <a class="button button--primary polygon polygon--trapezoid" href="programs-item.html">
                                        <span class="button__label">Подробнее</span>
                                        <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__pagination">
                <div class="pagination hide-scrollbar">
                    <div class="pagination__ribbon">
                        <a class="pagination__item pagination__item--nav polygon polygon--trapezoid" href="#">
                            <svg class="pagination__arrow" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="m10 13.772-10-5.774 10-5.773v4.774h14v2h-14z"/>
                            </svg>
                        </a>
                        <a class="pagination__item polygon polygon--trapezoid" href="#">
                            <span class="pagination__label">01</span>
                        </a>
                        <a class="pagination__item polygon polygon--trapezoid" href="#">
                            <span class="pagination__label">02</span>
                        </a>
                        <a class="pagination__item polygon polygon--trapezoid" href="#">
                            <span class="pagination__label">03</span>
                        </a>
                        <div class="pagination__item pagination__item--separator">
                            <span class="pagination__label">...</span>
                        </div>
                        <a class="pagination__item polygon polygon--trapezoid" href="#">
                            <span class="pagination__label">17</span>
                        </a>
                        <a class="pagination__item pagination__item--nav polygon polygon--trapezoid" href="#">
                            <svg class="pagination__arrow" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 2.225l10 5.774-10 5.773V8.998H0v-2h14V2.226z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>

    </body>
</html>
