<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Солнце: звезда нашей жизни</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#14131E">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>
        <svg class="visuallyhidden">
            <defs>
                <linearGradient id="sky-gradient" x1="-1.54328" y1="365.397" x2="601.643" y2="-129.956" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8E8FFA"/>
                    <stop offset="1" stop-color="#BDD3FE"/>
                </linearGradient>
            </defs>
        </svg>


        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="breadcrumbs container">
            <span class="breadcrumbs__item">
                <a class="link link--white" href="landing.html">Главная</a>
            </span>
            <span class="breadcrumbs__item">
                <a class="link link--white" href="programs.html">Программы</a>
            </span>
            <span class="breadcrumbs__item">
                <span class="breadcrumbs__title">Солнце: звезда нашей жизни</span>
            </span>
        </div>

        <article class="project container">
            <div class="project__category">
                Полнокупольный фильм
            </div>
            <h1 class="project__heading">
                Солнце: звезда нашей жизни
            </h1>
            <div class="project__body">
                <div class="project__stage">
                    <a class="preview" href="#">
                        <img class="preview__image"
                             srcset="
                            ../temp/shows/program-a@3x.jpg 3x,
                            ../temp/shows/program-a@2x.jpg 2x,
                            ../temp/shows/program-a@1.5x.jpg 1.5x,
                            ../temp/shows/program-a@1x.jpg 1x
                         "
                             src="../temp/shows/program-a@1x.jpg"
                             width="450"
                             height="424"
                             alt=""
                        >
                    </a>
                </div>
                <div class="project__content">
                    <div class="project__text wysiwyg">
                        <p>Полнокупольная программа посвящена нашей главной звезде, которая уже 4,5 миллиарда лет согревает Землю. Зрители смогут увидеть, как выглядит наша звезда в различных длинах волн, и узнать, что происходит в недрах Солнца. В программе представлены интересные факты и загадочные явления, связанные с нашим светилом: солнечными затмениями и солнечными пятнами, полярными сияниями и магнитными бурями, солнечной энергией и солнечным ветром. Шоу раскроет все секреты Солнца и позволит вам очутиться на его поверхности в формате полного погружения.</p>
                        <p>В следующем акте наше путешествие в мир Солнца превращается в удивительный подводный мир. Гости программы будут погружены в океан сверкающего света и тепла, представленного в виде рыб и других морских обитателей, символизирующих энергию и жизнь, получаемые от нашей главной звезды.</p>
                    </div>
                    <div class="project__summary">
                        <div class="stat stat--larger stat--location">Звездный зал</div>
                        <div class="stat stat--larger stat--duration">40 минут</div>
                        <div class="stat stat--larger stat--restriction">12+</div>
                        <div class="stat stat--larger stat--pushkin-card">Пушкинская карта</div>
                    </div>
                </div>
            </div>
            <div class="project__schedule">
                <h2 class="project__sub-heading">
                    Ближайшие показы
                </h2>
                <div class="project__calendar hide-scrollbar">
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                    <div class="project__repeat">
                        <div class="session">
                            <div class="session__info polygon polygon--trapezoid">
                                <div class="session__date"><a class="link link--fake" name="fake-link">25 окт, ср</a></div>
                                <div class="session__time"><a class="link link--fake" name="fake-link">13:00</a></div>
                                <div class="session__price">200₽</div>
                                <div class="session__availability">места есть</div>
                            </div>
                            <div class="session__action">
                                <a class="button" href="#">Купить билет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project__group">
                <div class="groups-card"><!-- Можно всю панель сделать ссылкой, но осторожнее с кнопками внутри (ссылку в ссылку делать нельзя) -->
                    <div class="groups-card__inner">
                        <h2 class="groups-card__heading">
                            Групповое посещение
                        </h2>
                        <p class="groups-card__description">
                            <span class="desktop-only">Для подбора и обработки коллективной заявки, вы можете обратиться к администрации планетария, заполнив форму заявки. Мы свяжемся с вами и подберем подходящую программу и дату проведения</span>
                            <span class="smartphone-only">Для подбора и обработки коллективной заявки, вы можете заполнить форму заявки</span>
                        </p>
                        <div class="groups-card__actions">
                            <a class="button button--outline polygon polygon--trapezoid" href="#">
                                <span class="button__label">Скачать КП</span>
                                <svg class="button__icon" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.5965 5.64706H9.83176V0H4.18471V5.64706H0.42L7.00824 12.2353L13.5965 5.64706ZM0.42 14.1176V16H13.5965V14.1176H0.42Z"/>
                                </svg>
                            </a>
                            <a class="button button--secondary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Оставить заявку</span>
                            </a>
                        </div>
                        <div class="groups-card__details">
                            <a class="button button--link-alike" href="groups.html">
                                <span class="button__label">
                                    К программам
                                </span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section class="related related--portfolio container">
            <h2 class="related__heading">
                Другие программы
            </h2>
            <div class="related__list">
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/program-d@3x.jpg 3x,
                                ../temp/shows/program-d@2x.jpg 2x,
                                ../temp/shows/program-d@1.5x.jpg 1.5x,
                                ../temp/shows/program-d@1x.jpg 1x
                             "
                                 src="../temp/shows/program-d@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            6+
                        </div>
                        <div class="show__pre-header">
                            интерактивный урок
                        </div>
                        <h2 class="show__header">
                            Земля - планета Солнечной системы
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <div class="stat stat--inverted stat--location">
                                Звездный зал
                            </div>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/program-b@3x.jpg 3x,
                                ../temp/shows/program-b@2x.jpg 2x,
                                ../temp/shows/program-b@1.5x.jpg 1.5x,
                                ../temp/shows/program-b@1x.jpg 1x
                             "
                                 src="../temp/shows/program-b@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            12+
                        </div>
                        <div class="show__pre-header">
                            полнокупольный фильм
                        </div>
                        <h2 class="show__header">
                            Путешествие к миллиарду Солнц
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <div class="stat stat--inverted stat--location">
                                Звездный зал
                            </div>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="show">
                    <div class="show__stage">
                        <a class="preview" href="#">
                            <img class="preview__image"
                                 srcset="
                                ../temp/shows/program-c@3x.jpg 3x,
                                ../temp/shows/program-c@2x.jpg 2x,
                                ../temp/shows/program-c@1.5x.jpg 1.5x,
                                ../temp/shows/program-c@1x.jpg 1x
                             "
                                 src="../temp/shows/program-c@1x.jpg"
                                 width="450"
                                 height="424"
                                 alt=""
                            >
                        </a>
                    </div>
                    <div class="show__body">
                        <div class="show__restriction">
                            12+
                        </div>
                        <div class="show__pre-header">
                            полнокупольный фильм
                        </div>
                        <h2 class="show__header">
                            Интерактивная галерея "Экспосфера"
                        </h2>
                    </div>
                    <div class="show__footer">
                        <div class="show__info">
                            <div class="stat stat--inverted stat--location">
                                Интерактивная галерея
                            </div>
                        </div>
                        <div class="show__action">
                            <a class="button button--primary polygon polygon--trapezoid" href="#">
                                <span class="button__label">Подробнее</span>
                                <svg class="button__icon" width="25" height="16" viewBox="0 0 25 16" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.22501L24 7.99851L14 13.772V8.99851H0V6.99851H14V2.22501Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <footer class="footer">

        </footer>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_polygon.js"></script>
        <script src="../scripts/_sticky.js"></script>
        <script src="../scripts/_sub-nav.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_nav.js"></script>
        <script src="../scripts/_page-scrolled.js"></script>

    </body>
</html>
